[2018-01-04 17:24] pabloruiz55 opened #17 "PolyToken totalSupply is incorrect"
@satyamakgec beware that the PolyToken being used here has some issues.
The totalSupply is being set incorrectly as the decimals are not being used.

[2018-01-05 15:35] pabloruiz55 opened #20 "SecurityToken decimals are hardcoded to 0"
Decimals Should be part of the constructor parameters

[2018-01-09 17:41] pabloruiz55 opened #24 "Anyone can become a KYC provider (if they have POLY) and we can't remove them."
By calling Customer.newProvider() any account can become a KYC provider if they have enough POLY tokens to pay the fee.

I think there SHOULD be a way to either whitelist / blacklist KYC providers or some function to remove them/make them unavailable.

If a KYC provider goes rouge we currently don't have any way to remove them from the system or prevent from them being used.

[2018-01-09 17:44] pabloruiz55 opened #25 "Streamline the way we check for null address"
Sometimes `require(address != address(0));` is used while sometimes `require(address != 0x0);` is used instead.

I personally prefer `require(address != address(0));` but we should stick with one.

For example in Customer.newProvider()
[code]

[2018-01-09 17:57] pabloruiz55 opened #26 "Customer.sol newProviderFee can't be modified."
There's no way to change the Customer.newProviderFee, which is set to be 1000 POLY.
There should be an owner for this contract and they should have the ability to modify the entry fee for new providers as 1000 POLY might need to be changed at some point.

[2018-01-10 07:19] satyamakgec opened #28 "indexed removed from LogNewSecurityToken"
@Everhusk
i removed the indexed from the event because it creates the problem in running the test cases.
please have a look into issue.
https://github.com/ethereumjs/ethereumjs-vm/issues/114

[2018-01-10 07:23] satyamakgec commented on #26
we have the function
https://github.com/PolymathNetwork/polymath-core/blob/c5dee69f76a03db27389d266023e8d9f8b2476d4/contracts/Customers.sol#L75-L79
providers can change the fee after the successful registration. different kyc-providers have different fees if they want . by default we are using 1000 POLY only

[2018-01-10 07:46] satyamakgec commented on #24
yes agreed , i think we are managing this stuff only by our application view by removing them from our application but yes we need to work on smart contracts to add this extensive functionality.

[2018-01-10 08:13] satyamakgec commented on #25
For addresses we are using `require(address != address(0))` and for bytes32 we are using `require(bytevalue != 0x0)` so `_details` is bytes32 type we can't use `address(0)` because of mismatch conversion

[2018-01-10 08:14] #25 closed

[2018-01-10 11:44] pabloruiz55 commented on #26
@satyamakgec
What you shared above is the fee the KYC provider charges the verifying customers.

I mean the fee Polymath charges in POLY to have a new KYC provider added.
`uint256 public constant newProviderFee = 1000;` is the fee in POLY being charged to a new KYC provider by us, and we can't modify it.

[2018-01-10 12:28] satyamakgec commented on #26
ohh my bad , i will add this feature also

[2018-01-10 14:54] pabloruiz55 opened #30 "SecurityToken.addToWhitelist() can only be called by the KYC provider"
According to the docs:

But the function specifies:

`require(KYC == msg.sender);`

@Everhusk which is correct?

[2018-01-10 17:30] pabloruiz55 opened #31 "SecurityToken.IssueSecurityToken() not checking start/end dates properly"
There's this line:

`require(startSTO > now && endSTO > now);`

which is wrong. It should be making sure that now is >= startSTO and now <= endSTO.

[2018-01-10 17:43] pabloruiz55 opened #32 "SecurityToken.issueSecurityToken() should fire an event"
It should log the address that made the purchase, how many tokens they got, how many POLY were paid and the date.

[2018-01-10 20:43] davekaj opened #33 "Comment on roles needs to be reordered"
the comment below states that the issuer is role 2
https://github.com/PolymathNetwork/polymath-core/blob/c5dee69f76a03db27389d266023e8d9f8b2476d4/contracts/Customers.sol#L84

But we require role 2 to be the delegator here:
https://github.com/PolymathNetwork/polymath-core/blob/c5dee69f76a03db27389d266023e8d9f8b2476d4/contracts/Compliance.sol#L83

Nothing wrong with contracts working properly, just

[2018-01-11 07:39] satyamakgec commented on #30
it is only be called by KYC provider otherwise we can't get the data of the customer from our chain

[2018-01-11 08:48] satyamakgec commented on #31
fix d715e87

[2018-01-11 08:48] #31 closed

[2018-01-11 08:48] satyamakgec commented on #32
fix d715e87

[2018-01-11 08:48] #32 closed

[2018-01-11 09:05] satyamakgec commented on #33
Everywhere we are using tole 2 for delegate so you are right .
fix b57819b

[2018-01-11 09:05] #33 closed

[2018-01-11 11:42] pabloruiz55 commented on #30
Why not? The issuer should be able to consult whether or not an investor has been verified by the KYC provider.

It looks like a problem otherwise, the issuer would have to make, somehow, the KYC provider add investors to the whitelist for their token, which definitively should not be the KYC provider's job.

[2018-01-12 17:11] davekaj opened #37 "Polymath.js needs 6 state vars to be labeled public for Templates.sol"
Please see the list of state vars below. and note which ones need to be public so we can call them:

    address owner;
    string public offeringType;
    bytes32 public issuerJurisdiction;
    mapping(bytes32 => bool) public allowedJurisdictions;
    mapping(uint8 => bool) public allowedRoles;
    bool public accredited;
    address KYC;
    bytes32 details;
    bool finalized;
    uint256 publi

[2018-01-12 18:49] satyamakgec commented on #37
which variables you want to access from outside. let me know I will make get methods for them

[2018-01-12 19:31] davekaj commented on #37
allowedJurisdictions, allowedRoles, accredited, expires, issuerJurisdiction, and offeringType

however i dont need getter functions written for them, i just need them to be named public, as naming them public will automatically give them getter functions, and i wrote the polymath.js code to access the state vars directly

 (fyi, the code i inserted above is my code, the current polymath core code

[2018-01-13 06:11] satyamakgec commented on #37
fix  6ed0995

[2018-01-13 06:11] #37 closed

[2018-01-14 02:36] Everhusk commented on #30
I agree with Pablo on this, let's allow only the Issuer or KYC provider to addToWhitelist()

[2018-01-14 07:58] #30 closed

[2018-01-15 14:58] pabloruiz55 opened #38 "SecurityToken is missing a function to change owner"
Picture the following scenario.

1. Issuer deploys SecurityToken.sol (He is the owner), the Total supply gets assigned to his balance mapping.
2. Issuer deploys an STO (He is the owner of the STO) passing the SecurityToken contract he created before to connect the ST with the STO.
3. Now there's ST and STO contracts, both with Issuer as owner.

The problem here is that in reality, as with 99% of c

[2018-01-16 01:04] pabloruiz55 opened #39 "simplify onlyShareholder Modifier"
[code]
Could be reworked as:
[code]

[2018-01-16 01:11] pabloruiz55 opened #40 "SecurityToken's startSTO & endSTO can be set to values different to the actual STO's start/end times"
ST. selectOfferingProposal() gets passed startSTO and endSTO parameters which could be different times that those set on an actual STO.

Either:
1. These get read from the STO contract instead of being set and we eliminate these variables from the ST contract (which IMO they don't belong in the ST contract at all).
2. Or it should be required that the values entered match the values set on the STO

[2018-01-16 01:22] pabloruiz55 opened #41 "Why are we checking SecurityToken contract has POLY balance to execute selectOfferingProposal()?"
In ST.selectOfferingProposal() there's this line:

`require(POLY.balanceOf(this) >= allocations[delegate].amount + _fee);`

What's the idea of that?

Additionally, even though we are checking for such POLY balance within the ST contract, there's no transfer of POLY being done from it to the delegate.

[2018-01-16 01:33] pabloruiz55 opened #42 "Can't create a template or setSTO that requires 100% quorum"
Both setSTO() and createTemplate() have the following require:

`require(_quorum > 0 && _quorum < 100);`

So, there's no way to have a voting process that requires the 100% of votes.

Should be:

`require(_quorum > 0 && _quorum <= 100);`

[2018-01-16 01:39] pabloruiz55 opened #43 "SecurityToken.voteToFreeze() consensus check"
In VoteToFreeze() after the votes and votes % are calculated, we do this:

if (allocations[_recipient].yayPercent > allocations[_recipient].quorum) {
          allocations[_recipient].frozen = true;
        }

By requiring that yayPercent be > (instead of >=)  the rules set in the STO are somewhat not respected.

If I set a 65% quorum, I'd like that if 65% quorum is reached that the function gets

[2018-01-16 01:42] pabloruiz55 opened #44 "SecurityToken's constructor is missing validations"
No data validations are being made in ST's constructor.

For example, we MUST require that:

- name, symbol length > 0
- owner != address(0)
- quorum > 0 && <= 100
- PolyToken and other contracts != address(0)
- totalSupply > 0
- etc

[2018-01-16 01:54] pabloruiz55 opened #45 "SecurityToken's transferFrom requires the msg.sender to be whitelisted"
While `transfer()`'s only requirement (in terms of being whitelisted) is that the recipient is whitelisted (marked as allowed in sharehoders mapping), transferTo requires in addition that the msg.sender be in that whitelist as well.

If transfer can be initiated without being in the whitelist, why shouldn't it be the same for transferFrom ?

[2018-01-16 01:58] pabloruiz55 opened #46 "Fix SecurityToken.withdrawPoly() indentation"

[2018-01-16 02:29] pabloruiz55 opened #47 "TBD: There should be a way for the Issuer to override the KYC to get an investor verified/whitelist"

[2018-01-16 03:14] pabloruiz55 opened #48 "TBD: The Issuer should be able to set a cap on the amount of token holders"

[2018-01-16 03:16] pabloruiz55 opened #49 "TBD: Add the possibility of having multiple KYC providers for an STO instead of just one"

[2018-01-16 03:56] pabloruiz55 opened #50 "Change uint8 role to an Enum for better readability"
Throughout the contracts we are using role as an uint8, but this is very error prone and requires going to the source file to see which id corresponds to which role.
This could be changed to be a Enum.

[2018-01-16 05:49] #39 closed

[2018-01-16 06:13] satyamakgec commented on #40
How about we make sure at the time of setSTO issuer also needs to enter the endSTO and startSTO parameters and we match them at the time of selectOfferingProposal() and startSTO timestamp should be greater than 1 day from the timestamp of selectingOfferingProposal() to mitigate the the time slack between those function calling and only then offering contract will live?.

I think this way if an own

[2018-01-16 06:20] #42 closed

[2018-01-16 06:25] #43 closed

[2018-01-16 06:44] #44 closed

[2018-01-16 06:48] Everhusk commented on #50
Would be too big of an Enum, leaving it open ended allows for additional functionality to be layered on top. For example, a KYC provider may want to specify certain verification levels on a user. This may vary between providers so better to leave it unbounded.

[2018-01-16 06:48] #50 closed

[2018-01-16 06:54] satyamakgec commented on #45
it is already there
https://github.com/PolymathNetwork/polymath-core/blob/8c5b153832fde8c829f1f5f56351b7b0524f67d0/contracts/SecurityToken.sol#L319

[2018-01-16 06:58] #46 closed

[2018-01-16 07:00] satyamakgec commented on #48
I think this will be managed by the STO contract itself. At the time offering we can manage the investor cap

[2018-01-16 07:01] satyamakgec commented on #49
Yes, It should be

[2018-01-16 07:12] satyamakgec commented on #41
Because the securityToken contract has to pay the fee to them after the successful issuance of the security token. We are enforcing the ST contract that it has that much amount of poly in its reserve to give payout to delegates their fees(for template approval) and payout to STO auditor (for STO development)

[2018-01-16 12:55] pabloruiz55 commented on #45
My point is that it should not work like that. See @adamdossa 's comment on this:

[2018-01-16 13:06] adamdossa opened #51 "Transfer event should be fired in `issueSecurityTokens`"
Otherwise we are not conforming to the ERC20 spec. - transfers should be from the owner to the recipient I believe (not from 0x0). Arguably the initial allocation of totalSupply to the owner:
`balances[_owner] = _totalSupply;`
should issue a Transfer event from 0x0 to _owner as well.

[2018-01-16 13:07] adamdossa opened #52 "Should voting use POLY instead of security token balances"
should `contributedToSTO` record the amount of POLY contributed, rather than the corresponding amount of security tokens issued? Since this mapping is used to vote, it may be better to use the POLY amount as this is harder to manipulate by the issuer (the issuer could issue a large number of security tokens to themselves for a small or zero amount of POLY and thus skew the vote). This would also r

[2018-01-16 13:08] adamdossa opened #53 "Use SafeMath for addition"
In SecurityToken.sol we should use SafeMaths for addition, e.g.:

 - `voteToFreeze` should use SafeMath for its addition

 - `selectOfferingProposal` should use SafeMath for its addition

[2018-01-16 13:08] adamdossa opened #54 "Frozen POLY following a vote process is effectively burnt"
If an owner, delegate or auditors allocation is frozen via the vote process, then those POLY tokens are effectively burnt I believe - I can’t see any way they can be extracted (e.g. by original contributors) after freezing - this is a very strong incentive not to freeze - not sure if intentional or not.

[2018-01-16 13:09] adamdossa opened #55 "Fix variable naming in `updateComplianceProof` in SecurityToken.sol"
Variable usage / naming in `updateComplianceProof` is a bit confusing - probably the global variable `complianceProof` should be renamed to `merkleRoot`

[2018-01-16 13:12] pabloruiz55 commented on #40
I'm concerned about the duplication of these 2 variables, with the additional concern that the SecurityToken contract should not even care about the STO timeframe.

For example: issueSecurityTokens() requires that  now > startSTO and now < endSTO. That logic should be actually part of the STO. The STO should handle whether or not the token sale is "open" or "closed".

At the very least, setSTO sho

[2018-01-16 13:16] pabloruiz55 commented on #41
But where are we actually doing the payment?
If we are not doing it within the function that is checking the balance, then it doesn't make much sense.
Even if at that point it does have the balance, nothing stops the owner from draining the contract out of POLY after calling the function, before the payment is done somewhere else.

[2018-01-16 13:18] pabloruiz55 commented on #17
Reopening this so we don't forget

[2018-01-16 13:44] pabloruiz55 opened #56 "selectTemplate and selectOfferingProposal may be called multiple times"
I don't know if this is by design, but being able to call these functions more than once effectively overwrites some critical variables. For example, startSTO/endSTO could be modified by "changing" the offering proposal.

[2018-01-16 14:15] adamdossa commented on #41
My reading is that since the delegate and auditor are assigned before issuance starts, it ensures the contract has been seeded with enough POLY to pay these entities.

Payment would be through the usual withdrawPoly function (once the vesting on these allocations has completed).

[2018-01-16 14:16] pabloruiz55 commented on #54
Maybe there could be a "voteToUnfreeze" function to revert the freeze. What do you think?

There might be a bigger issue here. What's to stop shareholders from colluding to effectively freeze anyone's POLY just because they can?

----

Under what circumstances would shareholders want to freeze an actor's POLY?

[2018-01-16 14:19] satyamakgec commented on #41
yes @adamdossa is correct

[2018-01-16 14:20] #45 closed

[2018-01-16 14:23] satyamakgec commented on #51
#22

[2018-01-16 14:36] satyamakgec commented on #54
I agree with @pabloruiz55. I think I have to create some function like this

[2018-01-16 14:37] satyamakgec commented on #52
I agree with you, i will make the changes

[2018-01-16 14:39] pabloruiz55 opened #57 "What's the purpose of maxPoly in SecurityToken"
SecurityToken enforces that the issuer sets a cap on funds being raised (in POLY) which can't be modified.

1- What if the issuer wants to raise funds in ETH?
2- This rule is typically enforced at an STO/Crowdsale level. I don't see why this should also be here.
3- There's no way to modify this hardcap. For different reasons the issuer might want to reduce or increase the hardcap for the STO. Even

[2018-01-16 14:41] #53 closed

[2018-01-16 14:56] #55 closed

[2018-01-16 15:14] satyamakgec commented on #56
We can add a mapping `mapping(_stoContract=>bool)isSTOProposed` to handle the offering contract proposal.  what do you say?

[2018-01-16 15:19] adamdossa commented on #52
You need to also modify the voting function to divide by the correct amount (poly contributed not tokens issued).

[2018-01-16 15:25] satyamakgec commented on #57
I think we are still dicy at investment through ETH. And I think for changing maxPoly we have to provide some restriction to change the cap. otherwise, an issuer can change it whenever it wants.

[2018-01-16 15:35] adamdossa opened #58 "No way for PolyMath to pull out POLY fees from providers"
Customers.sol takes a fee for new KYC providers, but I can't see that the contract has any way to extract this fee from the contract (i.e. for contract owner to transfer POLY balance to themselves)?

[2018-01-16 15:35] satyamakgec commented on #52
oops my bad

[2018-01-16 15:35] #52 closed

[2018-01-16 15:44] satyamakgec commented on #58
Yes, In that case we need to encapsulate our Customers contract into ownership model. To provide the ownership of the Customer contract to call the function as withdraw POLY and change fee provided by the customer for storing the data on chain

[2018-01-16 15:58] adamdossa commented on #58
Yep - ownership model would work. I think this is a critical bug that should be fixed before audit. @pabloruiz55 @Everhusk agree?

[2018-01-16 16:02] satyamakgec commented on #58
This also solve #26 #24

[2018-01-16 16:09] satyamakgec commented on #54
@Everhusk inputs?

[2018-01-16 16:27] pabloruiz55 commented on #24
This could be solved in a different few ways, but here's the only I like the most:

1. KYC providers can sign up by calling newProvider() as it is now, but we add a bool "active" field to the Provider struct, starting as false.
2. Whenever the KYC provider is used, we first check they are active
3. The owner of Customers. sol can set active to true or false for each KYC provider as they are onboar

[2018-01-16 16:31] satyamakgec commented on #58
ok i will make these changes

[2018-01-16 16:42] pabloruiz55 opened #59 "setSTO can be called multiple times for the same offering and by anyone"
setSTO can be called by anyone any amount of times, effectively overriding whatever data was assigned to the offering mapping

[2018-01-16 17:20] pabloruiz55 opened #60 "Should we add the possibility of "pausing" the core contracts?"
Given that we are going to release the contracts on Mainnet only to have them decommissioned in a few weeks/months, I think we should add the possibility of pausing them so they can't be used anymore when we deploy v2 contracts. This will prevent people inadvertently interacting with older contracts.

We could do this or add the possibility of a selfdestruct.

[2018-01-16 18:24] pabloruiz55 opened #62 "Template.getTemplateDetails requires that expires > now to return data"
[code]
In order to get the template details it requires not to be expired. It should give its details anyways as well as whether or not it has expired.
This function is not used anywhere yet.

[2018-01-16 18:28] pabloruiz55 opened #63 "Add MIT copyright notice to SafeMath.sol (Or import from NPM)"

[2018-01-16 18:34] pabloruiz55 opened #64 "What's the purpose of SecurityTokenRegistrar.sol?"
SecurityTokenRegistrar is a Factory for SecurityToken.sol, but there is no enforcement for going through STR to create a new ST contract.

If we are going to use STR, then ST should probably require that it must be deployed by STR instead of anyone. Else, we'll have ST contracts that are not registered on the STR.

[2018-01-16 19:30] pabloruiz55 opened #65 "Fix "Version" variable consistency"
On Compliance.sol its defined as:

`string public VERSION = "0.1";`

On SecurityToken.sol it's:

`uint256 public version = 1;`

The other contracts have no version var.

We should define whether or not it's going to be:
- a string or uint
- Version or VERSION or what's the name of the variable
- Add it to the remaining contracts.

[2018-01-16 19:36] pabloruiz55 opened #66 "Should a Template be created on their own?"
Compliance.sol is in charge of creating new Templates and keeping track of them.

Template.sol does not enforce that only Compliance should create them. Anyone can create their own template but they won't get added to Compliance' templates mapping this way.

I believe Template should only be created by the Factory Compliance.sol.

[2018-01-16 19:38] pabloruiz55 opened #67 "Add data validation to Template.sol's constructor"
Template.sol's constructor should validate the data being passed to it.

[2018-01-16 19:48] pabloruiz55 opened #68 "For any given SecurityToken, the auditor, delegate and owner/issuer can be the same address"
Is this the correct behavior?

[2018-01-16 23:19] pabloruiz55 commented on #51
@satyamakgec it's not the same. Actually, the event that is actually present should be modified.
The issueSecurityToken func should trigger a Transfer event to keep it consistent. Otherwise, exchanges/wallets won't be able to find these transactions as they will be looking for Transfer event.

[2018-01-17 01:35] pabloruiz55 commented on #28
From which variable did you remove the indexed attrib.?

[2018-01-17 04:43] Everhusk commented on #68
It could be, I don't think we need to force this restriction upon issuers. Will be public information for investors to review and determine if it's a problem or not.

[2018-01-17 04:43] #68 closed

[2018-01-17 07:02] satyamakgec commented on #24
for issue #58 #26 #24 @pabloruiz55 @adamdossa  review 1227192 . For withdrawal Poly from `Customers.sol` I use _to address (for now). I think keeping POLY to owner address is not safe because many other functions also being called by it. (someone operates those functions with polymath admin wizard). Do we hardcode the _to address or this address should be Polymath Multisig?

[2018-01-17 07:14] #59 closed

[2018-01-17 07:21] satyamakgec commented on #59
We can't restrict the caller I suppose because `Compliance.sol` is the generalised contract and this function is only used to avail the STO contract on the platform.  and STO contract will be exercised only through selecting the offering by Issuer then it doesn't affect who is adding the STO only matters whether they are selected by the issuers or not

[2018-01-17 07:32] satyamakgec commented on #60
I prefer to go with pause feature it is much better than self-destruct feature. We can read the data later if we want

[2018-01-17 07:43] satyamakgec commented on #62
This function used to get the template details and finalized state as for the usability purpose I suppose it will be used for UI wizard to get the details of active templates only not expired.

[2018-01-17 07:43] #62 closed

[2018-01-17 08:09] #67 closed

[2018-01-17 08:21] satyamakgec commented on #66
Yes, you are right but I think we will not achieve anything by enforcing the creation of template through compliance only. Because automatically template contracts created through any mean other than compliance will useless anyways.

[2018-01-17 08:21] #66 closed

[2018-01-17 08:38] #63 closed

[2018-01-17 10:19] satyamakgec commented on #64
I do not seem any best option to achieve it. possible ways that i think.

- hardcode the STR address in ST contract and then check msg.sender in a constructor.
- Or add one valid invalid flag that will only be verified by the STR contract.

Share your suggestions.

[2018-01-17 10:37] #56 closed

[2018-01-17 10:41] adamdossa commented on #64
Possibly link the ability to withdraw / deposit POLY to the ST contract to the fact that it is deployed by the STR?

[2018-01-17 10:42] adamdossa commented on #60
We could have a decommission / pause function - ideally we would use a layer of indirection over the top of our contracts to allow us to upgrade seamlessly, but this would be a big enhancement (similar to the way Aragon allow upgrades) so probably a future enhancement rather than something for now. Self-destruct is cleaner IMO, but dangerous if the contracts hold ETH or tokens (or permissions link

[2018-01-17 10:44] adamdossa commented on #57
I read this as being equivalent to the usual "hard cap" you see in ICO models. In practice the final version would need to allow raising in ETH, or POLY or a combination of the two (my understanding is that by contributing in POLY you get the advantage of having voting rights over delegate / owner allocations). I would mark adding ETH as an enhancement for the future. I don't think it should be po

[2018-01-17 10:46] adamdossa commented on #54
I'm not sure that `voteToUnfreeze` would work well. What is the intention for frozen funds? My assumption is that allocations which are frozen after a vote should be refunded to contributors on a pro-rata basis. This would need a function `withdrawFrozenFunds` which calculates the pro-rata amount for each contributor and refunds accordingly. I think a vote, once finalised, should be in final (e.g.

[2018-01-17 10:47] adamdossa commented on #51
@pabloruiz55 @satyamakgec agree - this function needs to fire a Transfer event. It does not need to use the `transfer` or `transferFrom` function to do this, but can just do it internally itself.

[2018-01-17 10:47] #41 closed

[2018-01-17 10:48] #51 closed

[2018-01-17 10:57] satyamakgec commented on #64
@adamdossa yep that will be the best way

[2018-01-17 11:18] #64 closed

[2018-01-17 11:25] satyamakgec commented on #57
@adamdossa agreed

[2018-01-17 11:51] satyamakgec commented on #28
it is removed from the event
https://github.com/PolymathNetwork/polymath-core/blob/907b87b5eaa72e9128aadeee522fcf587612c86e/contracts/SecurityTokenRegistrar.sol#L36
previously it was `string indexed _ticker`

[2018-01-17 12:13] satyamakgec commented on #38
As per my understanding, you want to change the owner of the total supply (replace issuer -> STO contract address). If My understanding is correct then we can transfer total supply to STO contract in `selectOfferingProposal()`. and for ownership do you think it will be safer to provide the ownership to the offering contract to call other functions as well.

[2018-01-17 19:36] pabloruiz55 commented on #54
The problem is that voteToFreeze looks so final.

It could be gamed, as I mentioned, by holders so if they collude they could get their money back if the token has less value than what they put.
Having this requires a lot of thinking in terms of governance and dispute resolution.

https://medium.freecodecamp.org/what-we-can-do-to-reassure-ico-investors-that-we-wont-vanish-with-their-money-ae9cfa3e

[2018-01-18 01:25] Everhusk commented on #60
Yeah I think we should leave this at the Polymath.js/Front end layer, no need to bake it into the contracts and risk adding a potential attack vector.

[2018-01-18 05:36] pabloruiz55 commented on #57
But why should SecurityToken care about maxPoly? This is a property of a Token Sale, not the token itself. I don't believe this should be enforced by ST as it requires duplicating said limit in both ST and STO.

[2018-01-18 06:21] satyamakgec commented on #40
Agreed though that process we can remove startTime and endTime parameters from the `selectOfferingProposal`. Yes, that will be the better way compare what we have now.

[2018-01-18 11:41] adamdossa commented on #40
I guess the key question here is whether the compliance delegate should control the period during which tokens can be issued (in return for POLY) - effectively the start / end time of the ICO.

In general it looks like the compliance delegate is not really responsible for details around the security token offering (as opposed to the security token) in the current framework, although arguably this

[2018-01-18 13:11] pabloruiz55 opened #70 "TBD: Access to dividends with ST tokens"
If I'm not mistaken, this hasn't been laid out yet, but one of the main capabilities of Security tokens should be giving the issuer the ability to grant access to dividends to their holders.

[2018-01-18 13:29] adamdossa commented on #70
Note - the current ST implementation would not allow dividends easily as you can't query balances as of a specific date (e.g. the dividend date).
https://medium.com/@adam.dossa/dividend-payment-contract-based-on-minimetoken-90e5ba7c85d5

[2018-01-18 14:52] davekaj opened #71 "Is this line returning a whole entire Template instead of just a template address?"
https://github.com/PolymathNetwork/polymath-core/blob/907b87b5eaa72e9128aadeee522fcf587612c86e/contracts/SecurityToken.sol#L305

Looks like this is actually returning the whole instance of the Template contract, but the function really wants to return the template address.

Suggestion to fix, make a public state var for templateAddress, then when running selectTemplate(), when you recieve _tempalt

[2018-01-18 15:17] adamdossa commented on #71
FWIW this would just be implicitly cast to an address in this code. You can do something like address(Template) if you want to explicitly cast.

[2018-01-19 02:48] Everhusk commented on #24
@pabloruiz55  Polymath shouldn't be able to make any decisions on who can and can't participate in the network. It needs to be decentralized.

The fee was added in to prevent spam, but I think it might be best to just take this fee out.

We could potentially have the funds go towards a KYC research fund? Identity hackathons, etc.

[2018-01-19 02:52] Everhusk commented on #26
Basically the same as what's being discussed in #24 need a plan for poly earned. But yes where these funds go is still TBD. Wanted to lock it away to reduce supply over time, but I this makes it security like. Another option is to send this to a reserve-like wallet and have it re-distributed to efforts that improve the KYC provider network. Although leaning towards just taking it out completely.

[2018-01-19 02:52] #26 closed

[2018-01-19 02:53] Everhusk commented on #28
This is fine with me.

[2018-01-19 02:53] #28 closed

[2018-01-19 02:53] Everhusk commented on #38
Yes this is a bug, need to fix. It should transfer Security Tokens from the STO balance to the contributor.

[2018-01-19 02:58] Everhusk commented on #47
Yes this is correct, STO contract best practice will need to ensure they match. We could also add a require() for this in the STO standard to make only the SecurityToken contract able to call this function.

Let's add an onlyST modifier in the securityTokenOffering() function in STO contracts.

[2018-01-19 02:58] Everhusk commented on #47
Yes I agree, we should add in the ability for an issuer to add additional KYC providers.

[2018-01-19 02:59] Everhusk commented on #40
Yes this is correct, STO contract best practice will need to ensure they match. We could also add a require() for this in the STO standard to make only the SecurityToken contract able to call this function.

Let's add an onlyST modifier in the securityTokenOffering() function in STO contracts.

[2018-01-19 02:59] Everhusk commented on #48
Exactly the plan on this one @satyamakgec . Transfer restrictions for different offerings vary quite a bit, so this will be specified by the STO contract.

[2018-01-19 03:12] Everhusk commented on #49
Yes will add this in. Closing as it is mentioned elsewhere

[2018-01-19 03:15] Everhusk commented on #54
This is by design, we don't want investors to be able to have a financial incentive to freeze funds, but rather only be able to use it in extreme situations where the issuer has committed fraud (the whole purpose os securities regulations).

By burning the tokens, this could be used as a punishment mechanism for bad behaviour and also used as a vote of confidence in issuers trying to raise funds.

[2018-01-19 03:15] Everhusk commented on #57
The purposes is to allow investors to cap how much funds they are willing to raise in POLY as a percent of ETH. Only POLY raised funds are able to be burnt and gives investors a quick metric to look at as a vote of confidence in the issuer.

[2018-01-19 03:16] Everhusk commented on #57
@pabloruiz55

1. The issuer can still raise funds in eth
2. This would be enforced in the STO contract, it's just to be able to set a hardcap on the amount of POLY the issuer is willing to raise/lockup
3. Adding to @adamdossa's point I like to keep things simple, so would prefer to avoid adding in additional functions at this point unless it is a recurring request from issuers

[2018-01-19 03:16] Everhusk commented on #58
Duplicate of #26 and #24, closing.

[2018-01-19 03:16] #58 closed

[2018-01-19 03:17] Everhusk commented on #70
Yes this hasn't been implemented into the spec, as dividends could be done through off chain payments (using idnetities from the KYC provider), or the issuer purchasing a large amount of security tokens and burning.

I think the gas costs of minime token are not worth it when there are alternative methods for dividends. @adamdossa, do you want to work on a proposal for on chain dividends? If we co

[2018-01-19 13:31] adamdossa commented on #70
Yep - I can do this early next week (put together a proposal for a light-weight on-chain dividend mechanism).

[2018-01-19 13:33] adamdossa commented on #57
To me this is a larger issue in the sense that the polymath core code is currently focussed on the ST rather that the STO. For KYC this makes sense (as it impacts secondary trading and issuance and is linked to the transfering of STs) but for compliance I think it is better to add hooks on the STO side.

I agree at this point though these changes should not be part of the initial release.

[2018-01-19 13:35] adamdossa commented on #54
OK - so for now let's leave this as it is which is as an option of last resort (since investors have no economic incentive to freeze, they would need to be very upset to vote for such an outcome).

In the medium term I think reviewing the economic incentives for staking POLY for all entities is worthwhile.

[2018-01-21 08:25] satyamakgec commented on #71
it is working fine

[2018-01-21 08:25] #71 closed

[2018-01-22 00:58] Everhusk opened #72 "Security token exists in registrar checks"
Compliance.sol could check if the security token exists in the registrar before proposing a template or STO contract. This would prevent non-security token addresses from being added into the template history and potentially gaming the reputation.

[2018-01-22 01:04] Everhusk opened #73 "Finalize list of roles"
Create a readme for different role types and remove requirement for delegates to be KYC'd

[2018-01-22 01:07] Everhusk opened #75 "Template should be finalized before proposing"
A template should require finalized == true before it is proposed to a security token issuance.

[2018-01-22 06:21] satyamakgec commented on #72
As @adamdossa proposed to use withdraw function called from registrar only to prevent the same.

[2018-01-22 11:20] pabloruiz55 commented on #76
But in the case described above a person contributing ether to this contract would never be able to get a hold of his share of tokens or use them somehow.

Say Bob puts 1 eth in Alices contract that holds 10,000 ST, he has 10% of the contract's funds, theoretically.

The moment he wanted to withdraw them, he wouldn't be able to do since transfer/transferFrom would have to be called on that ST, whi

[2018-01-22 11:37] pabloruiz55 opened #78 "Template updateDetails() should only be called if the template is not yet finalized?"
Right now updateDetails can be called at any time. Is this correct?
Or should a require -> !finalized be in place?

[2018-01-22 11:49] pabloruiz55 commented on #72
This is closely related to #64. Rather than checking that ST exists in Registrar before proposing a template/STO contract, I'd require that ST only be created by a Registrar contract.

This could be done either by requiring that msg.sender be the STR contract in the ST constructor. OR, by having the ST constructor be passed the STR address and call an STR function that adds the ST to STR's mapping

[2018-01-22 12:01] pabloruiz55 commented on #24
@satyamakgec changed this so now there's no fee for KYC providers to add themselves and there's no owner to this Customers.sol contract due to some other issues posted. For example: #26
I don't think this is good. Anyone could add themselves (or even someone else) as a KYC provider for free, without any consequences. An then, we don't even have the means to take a bad actor out of this contract.

[2018-01-22 12:05] pabloruiz55 commented on #75
Yes, I saw that. Assigned it to you so no one else would get this started. :)

[2018-01-22 12:07] satyamakgec commented on #73
I added the roles readme 0e6f1c4 . To remove the requirement for delegates to be KYC'd, we need to store them in different mapping.

[2018-01-22 12:25] pabloruiz55 opened #79 "Protocol Changes as defined by Trevor/Jor on 22/1/18"
On Asana, the following protocol changes were requested:

**- Previous protocol had KYC providers as gatekeepers.  Now they are just service providers and Issuers/exchanges are gatekeepers (just like it works in real life).**
  Previously, your team had this idea that KYC providers would be the ones that maintain the whitelists of investors, and as such, they would be the gatekeepers of the ecosys

[2018-01-22 12:31] adamdossa commented on #76
I agree with @pabloruiz55 that Bob would not be able to withdraw his tokens. It is possible however to imagine a smart contract which allowed Bob to sell ownership (in terms of the collective contract registered by Alice) of his tokens for some ETH (which he could withdraw) or profit from dividends (proportionally) sent to Alice's contract.

Some ICOs have restricted initial offerings to non-contr

[2018-01-22 12:32] adamdossa commented on #70
As discussed on Friday's call, for now we will leave dividends as being an off-chain process and look at enhancing ST with this feature on-chain as a V2 / enhancement.

[2018-01-22 12:48] pabloruiz55 commented on #70
Moved to V2 milestone

[2018-01-22 12:49] adamdossa commented on #76
One approach would be to push this out to the (off-chain) KYC process. i.e. a KYC organisation could have a two track process, one track for approving EOA, and another for approving smart contract addresses. In the latter case they could have a higher fee and insist that the code is verified (on e.g. etherscan) or provided to the KYC organisation for a sanity check (i.e. to make sure it is a multi

[2018-01-22 12:50] pabloruiz55 commented on #47
This doesn't refer to the possibility of having multiple KYC providers, but rather to having the issuer have the ability to bypass the KYC provider and add an account to the whitelist under their own liability. This is related to what was added on Asana last night:

[2018-01-22 12:54] pabloruiz55 commented on #76
I don't think they would be prepared for that and they would not accept the liability that entails.
It's not as simple as "checking that the photo/data provided matches the ones on a Passport", and there's still many ways to fool this process.  Contracts that use delegatecall, upgradeable contracts, etc.

[2018-01-22 13:07] pabloruiz55 commented on #57
Are we leaving this as it is? I believe @satyamakgec moved some of the logic out of ST and into STO in the latest commits (on his branch).

[2018-01-22 13:10] pabloruiz55 commented on #20
Under which circumstances would it make sense to have divisible tokens?

@adamdossa says:

[2018-01-22 13:23] pabloruiz55 commented on #60
Leaving it at the Polymath.js/front end layer would not be enough.
Someone could still use the old contracts to create their ST/STO either inadvertently or on purpose.
Given that we are going to release something on mainnet that will have minimal testing and 0 usage on a testnet, I'd insist on adding a failsafe.

[2018-01-22 13:24] pabloruiz55 commented on #59
This was ultimately fixed by adding:
[code]

[2018-01-22 13:26] pabloruiz55 commented on #49
I believe you mean #47, but that refers to something else. Bypassing KYC provider vs having multiple KYC providers. Reopening but moving it to V2 milestone

[2018-01-22 13:28] pabloruiz55 commented on #48
Moved to V2 milestone

[2018-01-22 13:30] satyamakgec commented on #75
fix #75

[2018-01-22 13:30] #75 closed

[2018-01-22 13:33] adamdossa commented on #60
Having a break-glass freeze (pause) function seems sensible to stop people generating additional STs in case of a major bug being found post-mainnet deployment. The function can be simple and controlled by a PolyMath multi-sig, so limited potential for misuse. It would not need to impact any existing STs / STOs, just prevent the generation of new ones.

[2018-01-22 13:47] adamdossa commented on #49
This was mentioned as being an item which was needed for v1 (i.e. the 31st Jan mainnet deployment).

I think the most straightforward approach is to change `KYC` in Template.sol to be a fixed length array (say of size 10), and have the constructor take an array of valid KYC addresses.

SecurityToken can then receive this array from the chosen template and loop over these and turn them into a mappi

[2018-01-22 15:09] #24 closed

[2018-01-22 15:09] #38 closed

[2018-01-22 15:09] #40 closed

[2018-01-22 15:09] #57 closed

[2018-01-22 15:39] satyamakgec commented on #78
I suppose require(!finalized) is required to updateDetails

[2018-01-22 16:29] Everhusk commented on #76
Yeah I agree with this. Pushing the check off-chain and recommending a disclaimer seems to be the best approach here, we could also add in some tools to polymath.js for KYC providers to check if the address is a EOA or not.

[2018-01-22 18:47] pabloruiz55 opened #80 "Rework of Jurisdiction whitelisting process"
Each `Customer` will have both a country jurisdiction code and a subdivision jurisdiction code.

If the country code is whitelisted (maps to true) then jurisdiction is OK (and we don't care about sub-division code).

If the country code is not whitelisted (maps to false) then we check whether the subdivision is whitelisted (maps to true) in which case jurisdiction is OK, o/w it is not OK.

So, wit

[2018-01-22 20:03] Everhusk commented on #47
Well it would have to be done in a two step process, Issuer create a new KYC provider (themselves), adds it to the list of ST KYC providers, verifies an investor, then adds them to the whitelist.

[2018-01-22 20:04] davekaj opened #82 "Can these 4 mappings be made public so we can easily call them from polymath.js?"
Can we make these 4 mappings public, so getter functions are automatically created by the compiler that polymath.js can call into?

https://github.com/PolymathNetwork/polymath-core/blob/0b1676da48b3066ea37331b1af72d0e823f85d18/contracts/SecurityToken.sol#L72

https://github.com/PolymathNetwork/polymath-core/blob/0b1676da48b3066ea37331b1af72d0e823f85d18/contracts/SecurityToken.sol#L73

https://gith

[2018-01-22 20:07] Everhusk commented on #73
Readme looks good, can't we just remove the role check here: https://github.com/PolymathNetwork/polymath-core/blob/master/contracts/Compliance.sol#L85 ?

[2018-01-22 20:10] Everhusk commented on #78
I think it's okay for details to change, but let's add an event log in here.

[2018-01-22 20:14] Everhusk commented on #79
- Previous protocol had KYC providers as gatekeepers. Now they are just service providers and Issuers/exchanges are gatekeepers (just like it works in real life).

- Previously there was just one master whitelist of investor. Now there can be multiple whitelists.
#49 fixes this

- Previously we were trying to do things with just an ethereum address. Now we are going to try to hash a legal name alo

[2018-01-22 20:15] #79 closed

[2018-01-22 20:22] pabloruiz55 commented on #82
@davekaj  Sure, just pushed the change. Waiting for reviews to merge.

[2018-01-22 21:59] Everhusk commented on #20
Hmm, okay let's pull this out to the application level. We'll hardcode in polymath.js.

[2018-01-22 22:34] pabloruiz55 opened #83 "Tests are failing due to some problem with Testrpc"
@satyamakgec could you check it?

Here's the log for the latest commit that fails.

https://travis-ci.org/PolymathNetwork/polymath-core/builds/331996706?utm_source=email&utm_medium=notification

[code]

[2018-01-22 23:58] #82 closed

[2018-01-22 23:59] #78 closed

[2018-01-23 00:26] Everhusk commented on #60
Yes but then this leaves the control of the network up to Polymath, it should be up to the community to decide. In the case that nothing needs to change, there will always be an attack vector to shut the thing down forcing a required fork on the network.

[2018-01-23 00:26] #60 closed

[2018-01-23 05:41] #73 closed

[2018-01-23 06:58] satyamakgec commented on #49
@Everhusk it is different from the issue #79. It is about to add multiple KYC providers for the security token and @adamdossa proposed the solution is the minimal changed solution in current code as per the time crunch. @Everhusk should I change as per the suggestion?

[2018-01-23 11:51] #83 closed

[2018-01-23 12:04] pabloruiz55 commented on #47
Actually, we already added the following to `addToWhitelist()`:
`require(KYC == msg.sender || owner == msg.sender);`

So, the issuer is able to add someone to the whitelist. What we would need to do is to add an if branch there stating that if the msg.sender is the issuer/owner, then it shouldn't need to do all those verifications, just add it to the whitelist.
What do you think? @adamdossa @Everh

[2018-01-23 12:14] pabloruiz55 commented on #47
Actually, that doesn't work as intended. Even though the owner can call the function, the KYC provider is needed to get the customer data. We would not be able to bypass it, as it is.

I guess then, to bypass the KYC provider the issuer could create their own KYC provider and use that, this requires no further changes to the code. (Other than the pending issue regarding having multiple KYC provide

[2018-01-23 12:14] #47 closed

[2018-01-23 12:39] adamdossa commented on #80
I've changed the code in the above PR if we want to include this in V1. There would need to be corresponding app changes to only add subdivision codes where the corresponding country code was false. @pabloruiz55 @Everhusk

[2018-01-23 12:46] adamdossa opened #88 "Make verifying customers more efficient"
Currently, you need to call `verifyCustomer` for each verified customer to add them to the whitelist.

For a large number of verifications this will be expensive.

A batch version of this function would reduce gas a little and make it easier to use.

[2018-01-23 13:15] pabloruiz55 commented on #88
I don't know if that's possible to do from a user experience point of view. The function requires a transferFrom (which needs the customer to previously have set an allowance to the KYC provider). If we had 30+ calls inside one function call I can picture this function constantly throwing and cancelling the whole operation due to one of those customers not having a proper allowance set.

[2018-01-23 13:19] pabloruiz55 commented on #80
Thanks @adamdossa looks good to me.
I'd add somewhere some clarifications on how this would have to be used.
For example, if there's a country that has at least one jurisdiction that is not allowed, then the country jurisdiction MUST NOT be added, and all jurisdictions save for the one not allowed should be added.

[2018-01-23 13:28] adamdossa commented on #88
True. The KYC provider could check that each customer has approved the correct amount of POLY for each transfer before calling in a batch (which would be non-atomic), or the function itself could check the approved amount before calling transferFrom to avoid throwing (but this would mean a batch may partially fail which would be messy).

Currently the gas cost to verify a single customer is 129,13

[2018-01-23 13:56] pabloruiz55 commented on #88
We'd have to check, but I don't think that by doing the verification in a loop we would get much gas reduction. Given the transferFrom and the assignments to the struct I don't think much gas would be saved as there's no operation that can be simplified from that.

I'd do it only for making it a bit less of a pain to verify multiple accounts at the same time, if we can make sure that it won't thro

[2018-01-23 15:55] satyamakgec commented on #72
Crux of discussion with list of possible ways -
1. @adamdossa suggested calling the withdraw functions from STR only so if the ST will be created by any other mean then the stakeholders (issuer, delegate, auditor) can't withdrawal their funds. This way we are not able to restrict the creation of ST by another mean. The user will know only when they are going to withdraw poly that they are playing

[2018-01-23 17:42] satyamakgec commented on #49
Two ways to achieve this task.

**1.** Adding an array of whitelisted KYC providers(i.e whiteListedKYC[]) in the constructor of the Template having length >1 always and KYC[0] is always the address of the delegate provider.
If we are adding both parameters KYC[] and current KYC provider of the delegate then I am facing `the stack too deep error` because of this error I suggest doing as above.  In

[2018-01-23 18:01] pabloruiz55 commented on #49
The way I was thinking about this to keep it simple and not have to redo a lot of code was to modify Template.sol and Compliance.sol so instead of passing a KYC address, an array could be passed.

Then, in addToWhitelist, instead of having it called by KYC, it should be called by the Issuer/Owner.
Instead of doing

`var (jurisdiction, accredited, role, verified, expires) = PolyCustomers.getCustome

[2018-01-23 18:07] pabloruiz55 commented on #72
Ok. As it is now I don't like it as it offers a poor user experience. @Everhusk solution is a bit better as they learn earlier that what they are doing won't work.
Still, I'd rather directly prevent the creation of an ST if it is not done through the Registrar, or registered at ST construction time.
If we won't do that, then go ahead and do it with @Everhusk suggestion. The earlier we can fail due

[2018-01-23 19:24] satyamakgec commented on #49
@Everhusk your views?

[2018-01-24 07:26] satyamakgec commented on #49
@pabloruiz55  Yes, We will be going to add an array of whitelisted KYC provider addresses. but for the function `addToWhiteList()` it should be like
`function addToWhitelist(address _whitelistAddress, address _KYC) public returns (bool success) {`
        `require( owner == msg.sender && KYC[_KYC]);`
        `var (jurisdiction, accredited, role, verified, expires) = PolyCustomers.getCustomer(_KYC,

[2018-01-24 10:08] adamdossa commented on #49
This sounds sensible to me - do you want to do this in a standalone PR and we can then all review?

[2018-01-24 10:35] satyamakgec commented on #49
I did it, please review the PR @adamdossa

[2018-01-24 14:35] pabloruiz55 commented on #20
So... Adding yet another constructor parameter to SecurityToken and SecurityTokenRegistrar causes the "InternalCompilerError: Stack too deep, try removing local variables." error.
How do you suggest we fix this? @Everhusk @satyamakgec  @adamdossa

[2018-01-24 16:40] pabloruiz55 commented on #20
There's one way to make it work, which is packing a few of the variables that share the same type into an array and passing that around.
That works, but will require a lot of refactoring all around, modifying tests and whatever is already done in the front-end.

@Everhusk let me know if it worth it or we should push this to V2.

[2018-01-24 19:28] adamdossa commented on #20
Hey @pabloruiz55 - I just tried this in the decimals_fix branch, and compilation worked fine for me...

Could you let me know how your changes differ to mine?

https://github.com/PolymathNetwork/polymath-core/tree/decimals-fix
[code]

[2018-01-24 20:14] pabloruiz55 commented on #20
@adamdossa, after fixing a bug (missing the _decimals declaration on the interface file), when trying to compile it gives me the same error I was getting with my version:
[code]

_Also, your code is missing a few things that we need to do with the decimals variable, but I guess you didn't include that just to try this out._

[2018-01-25 03:33] Everhusk commented on #49
Still no the fence with this, let's move to V2 after getting more feedback.

[2018-01-25 06:24] Everhusk commented on #17
Let's remove this tomorrow when poly-distribution is deployed.

[2018-01-25 11:00] adamdossa commented on #20
@pabloruiz55 I just fixed the decimals-fix branch and it is now compiling without a hardcoded decimals variable.
There would need to be more changes as you say, but just wanted to demonstrate splitting out the function to avoid the "Stack too deep" compilation issue as a first step.
If you're able to compile this branch, I will then fix up the rest of the code and present it as a PR for review.

[2018-01-25 11:06] pabloruiz55 commented on #20
@adamdossa great! It does compile and migrate now. Awesome. I didn't think that just moving the code to another function would fix that error even when the function is called within the first function.
Are you adding the rest of the code?

[2018-01-25 11:13] adamdossa commented on #20
Yep - will do so shortly on this branch.

[2018-01-25 14:46] #20 closed

[2018-01-25 15:51] Everhusk opened #96 "Remove legal delegate check"
When proposing a template

[2018-01-25 16:14] pabloruiz55 commented on #38
We ended up not allowing a change of owner, but the ST must first be sent to the STO.

[2018-01-25 17:03] #96 closed

[2018-01-25 17:38] Everhusk commented on #80
Closed with #87

[2018-01-25 17:38] #80 closed

[2018-01-28 18:17] #17 closed

[2018-01-29 10:57] adamdossa commented on #100
(from Slack)
I think we should def. emit an event when a templateProposal or offeringProposal is cancelled (e.g. in `cancelTemplateProposal` and `cancelOfferingProposal`).

In terms of how the API will track the index, there are a couple of options:
1. have the proposeTemplate/OfferingContract include the index in the logged event. The frontend can then poll events to get the relevant index if it

[2018-01-29 11:03] pabloruiz55 commented on #100
I'm working on implementing 1 and 3.

[2018-01-29 13:48] adamdossa opened #103 "Rethink data structures for offering / template proposals (arrays > mappings)"
Change these variables from being `mapping(address => address[])` to `mapping(address => (mapping address => bool))` and then allow the frontend to cancel based on just knowing the templateProposal / offeringContract addresses.

[2018-01-29 13:58] pabloruiz55 commented on #103
We could probably have both so we can still retrieve a list of all template proposals associated with a ST.

[2018-01-29 17:35] pabloruiz55 opened #104 "Remove LogSecurityToken event from SecurityTokenRegistrar"
It is not being used.

[2018-01-29 20:31] #104 closed

[2018-01-30 05:35] davekaj opened #107 "in SecurityToken.sol 2 events log the wrong address"
event LogNewWhitelistedAddress(address _KYC, address _shareholder, uint8 _role);
    event LogNewBlacklistedAddress(address _KYC, address _shareholder);

both are designed to log KYC address, but the functions in the code actually pass the owner address instead of the KYC address

[2018-01-30 07:09] satyamakgec commented on #107
both operations are performed by the owner only not by the KYC so I think there is no need of the _KYC address in the event.

[2018-01-30 22:41] adamdossa commented on #107
On this, and other similar events I think we should be indexing the address fields to make it easier to filter for them on the front-end etc.

[2018-01-30 23:12] adamdossa commented on #107
@satyamakgec I think keeping the KYC provider address as part of the log is useful (esp. when we have multiple KYC providers). Could you also do a quick review of all events and check that where appropriate we are indexing the address fields? This makes it a lot easier for the front-end to filter / lookup events for individual users (e.g. addresses).

[2018-01-31 03:53] davekaj opened #109 "This event is emitting the same address twice"
https://github.com/PolymathNetwork/polymath-core/blob/3cab2f9b81316dcf015e1f1738fbdefb78af0b72/contracts/SecurityToken.sol#L214

Both STO and _stoContract print out the same address when listening to events on the EVM. To me it just looks like a duplicate

[2018-01-31 09:10] satyamakgec commented on #107
Yes, you are right but for the current version, we are sending msg.sender in the _KYC field of the event which is not the KYC address it is the owner address. In that case, we need to send the KYC address that securityToken have

[2018-01-31 17:54] davekaj opened #110 "_delegate should be renamed to _auditor"
https://github.com/PolymathNetwork/polymath-core/blob/3cab2f9b81316dcf015e1f1738fbdefb78af0b72/contracts/Compliance.sol#L56

only auditor can call function that makes this event, and msg.sender is set to be emitted in the event, but we incorrectly label it as _delegate

[2018-02-01 12:29] satyamakgec commented on #112
If the user doesn't use our polymath-app wizard to create the securityToken then YES there are high chances that issuer could enter their controlled address if they want.

[2018-02-01 12:35] pabloruiz55 commented on #112
Even then, it's a high security concern. There's a phishing risk, and also one of us developers could change the hardcoded _host param, deploy the app and get a hold of POLY fees paid before someone notices it.

[2018-02-01 14:01] adamdossa commented on #112
I agree - this should not be a parameter to the create function, but should be an address created in the constructor. Presumably the same logic applies to the `_fee` variable as well, to avoid people using 0 as this (and effectively bypassing the fee).

On a related note, is there an objection to having the SecurityTokenRegistrar having an `owner` which could then change these values? I can see th

[2018-02-01 14:54] satyamakgec commented on #112
@adamdossa Yes we can hardcode _host & _fee those values to avoid phishing risk but then no other third parties can use our contracts to build the similar application if we hardcode or imposed any governance model.

[2018-02-01 14:58] pabloruiz55 commented on #112
@satyamakgec We are talking about having _host and _fee entered by the owner of SecurityTokenRegistrar.
If a 3rd party wanted to build a similar application using our contracts, they would deploy their own SecurityTokenRegistrar.

Otherwise, we would have to make SecurityTokenRegistrar hold a list of authorized _hosts for issuers to select.

[2018-02-01 15:01] satyamakgec commented on #112
@pabloruiz55 yes both way are good way

[2018-02-01 15:25] adamdossa commented on #112
@satyamakgec I'm going to take this issue as I'm working on a bunch of core fixes today so will include this.

[2018-02-01 16:08] adamdossa opened #114 "`setSTO` function should check that address is a contract"
The function currently checks:
`require(_STOAddress != address(0));`

We could also check that the `_STOAddress` is a contract (has code).

Related note - I think this function should be renamed to:
`setOfferingContract`
to be a little more consistent.

[2018-02-01 16:10] adamdossa opened #115 "`totalRaised` not used / maintained"
`TemplateReputation` has a `totalRaised` variable, but this is not incremented anywhere AFAICT.

Probably this should be incremented in `issueSecurityTokens`

[2018-02-01 16:11] adamdossa opened #116 "Should `updateDetails` check that the Template has not yet been finalised?"
As per title... It seems we should lock down details once the template has been finalised.

[2018-02-01 16:13] adamdossa opened #117 "`setRegistrarAddress` can be called multiple times by anyone"
It is possible for anyone to change the `STRegistrar` variable by:
  - calling it with `_STRegistrar` as address(0)
  - calling it again with a new `_STRegistrar` value

[2018-02-01 16:15] adamdossa opened #118 "`selectTemplate` can be called multiple times"
AFAICT this function can be called multiple times (until the point an offering has been set) which would:
  - lock up multiple fees
  - artificially inflate the reputation of Templates

Any reason not to allow this to be set only once?

[2018-02-01 17:28] pabloruiz55 commented on #113
This is a great point you bring up.
Actually, an STO should never be reusable across multiple STs, just as you can't really reuse a Crowdsale contract across multiple Tokens.
It should always be a 1 to 1 relationship.

Now, what I do believe should be possible is to reuse the "structure" of an STO, that would be the intention of templates.
I think the confusion comes from the offering struct havin

[2018-02-01 17:33] pabloruiz55 commented on #114
Sounds good to me

[2018-02-01 17:43] pabloruiz55 commented on #115
Also, would it keep track of ETH raised? POLY raised? It is really necessary to keep track of this?

Sounds like we could abstract all these "reputation" stuff into a separate contract that keeps track of usage metrics.

@Everhusk

[2018-02-01 17:45] pabloruiz55 commented on #116
Duplicate of #78
IMHO we should lock down details once the template has been finalized

[2018-02-01 17:48] pabloruiz55 commented on #117
Let's add a second require:
require(_STRegistrar != address(0));
Also, the function name has a typo.
It says `setRegsitrarAddress` instead of `setRegistrarAddress`

[2018-02-01 17:52] adamdossa commented on #117
Yep - both of these fixed in PR:
https://github.com/PolymathNetwork/polymath-core/pull/119

[2018-02-01 17:52] pabloruiz55 commented on #118
Duplicate of #56. Thought this was fixed. @satyamakgec ?

[2018-02-01 18:07] adamdossa commented on #118
Looks like only the offering contract bit was fixed - I'll fix this in my next PR.

[2018-02-01 18:08] adamdossa commented on #116
OK - looks like this is by design anyway as per @Everhusk , so I'll close.

[2018-02-01 18:08] #116 closed

[2018-02-01 20:54] #118 closed

[2018-02-01 21:08] #110 closed

[2018-02-02 13:49] pabloruiz55 opened #121 "ST Issuer's POLY can get stuck in ST contract forever"
For the ST to be able to select a template, it has to posses POLY so it can allocate the Delegate's fee for that template.

Given that this has to be done before the STO starts, the only way for the ST to hold POLY is that the Issuer manually sends POLY to it. The way to do that would be for the Issuer to initiate a Transfer to the ST contract.

Once a template has been selected, the POLY the cont

[2018-02-02 14:30] adamdossa commented on #121
Yep - agree w/ your analysis.
Possible solution - allow the owner (i.e. issuer) to always withdraw any unallocated balance of POLY in the ST contract. WDYT? Another approach would be for the owner / issuer to only approve an amount of tokens for the ST address, and the ST then transfers the exact amount to cover fees etc. when an auditor / template is selected.

Of the two, the second approach see

[2018-02-02 16:01] #117 closed

[2018-02-02 16:02] #109 closed

[2018-02-02 16:02] #107 closed

[2018-02-03 17:00] adamdossa opened #129 "A malicious KYC provider can claim all KYC fees"
Somewhat related to the Solidified audit, it is possible for a malicious KYC provider to register as a KYC provider, watch for customers approving KYC fees to Customer.sol, and then claim the fee by calling `verifyCustomer`. This is because the `approve` / `verifyCustomer` protocol does not specify which KYC provider the customer is expecting to pay.

Proposed solution is for the customer to sign

[2018-02-03 17:10] adamdossa opened #130 "Should blacklisted ST balance holders be allowed to vote to freeze funds?"
Currently they are not (via `onlyShareholders` modifier) - this means an issuer could blacklist all addresses to avoid balance holders being able to vote to freeze funds.

Having said that it seems questionable as to whether or not blacklisted addresses are eligable.

One approach which would help, would be to reduce the totalSupply of the token when an address is blacklisted (by the amount of bal

[2018-02-03 17:11] adamdossa opened #131 "Allow transfer / transferFrom / approve to have a 0 value"
As per ERC20 spec.

[2018-02-03 17:14] adamdossa opened #132 "Refactor template & offering reputation system"
Currently the amountRaised / timesUsed variables are not used, and in addition we need to rethink how we store reputation given that offering contracts and templates are not very reusable.

[2018-02-03 17:21] adamdossa opened #133 "Redundancies in addToWhitelist and addToBlacklist functions of SecurityToken contract"
Shareholder holds issuer address instead of KYC address.

[2018-02-03 17:22] adamdossa opened #134 "Better seperation of concerns between ST and STO"
As per audit and internal discussions, we need to refactor this.

[2018-02-03 17:25] adamdossa opened #135 "Use view instead of constant for read-only functions"

[2018-02-03 17:28] adamdossa opened #136 "Should KYC providers have to pay a fee?"
As per whitepaper. If they do need to pay a fee, there is a question as to who the fee should go to - it can't go to the "service providers" since there is no KYC > service provider mapping. Probably there is no down side to allowing "spam" KYC providers, provided we fix issue #129

@Everhusk assuming we are not going to have a KYC provider, do we need to amend the whitepaper to reflect this?

[2018-02-03 17:29] adamdossa opened #137 "Make protocol and non-protocol contract seperation clearer"
e.g. STOContract is not part of the protocol. This should also allow us to add non-core protocol pieces (e.g. sample STO contracts) in a clean way.

[2018-02-03 17:40] adamdossa opened #138 "Allow an issuer to whitelist (in a single transaction) all KYC verified customers for a given KYC provider"
This would allow an issuer to avoid the somewhat painful process of individually (or in batches) adding investors to a security tokens whitelist. It would mean the issuer would need to fully trust the KYC provider to maintain the whitelist on their behalf going forward, but this would be optional (i.e. the current behaviour of explicitely adding investors to the whitelist would remain, this would

[2018-02-04 11:31] pabloruiz55 commented on #137
Hey @adamdossa, does this mean also handling the separation of concerns between ST and STO?

[2018-02-06 15:09] #135 closed

[2018-02-06 18:07] pabloruiz55 commented on #137
We need to change the way STOs and offering templates work. I'd rework it like this:

Have contributors build Factory contracts for STOs. These Factory contracts would be published by us and/or the community and people wanting to implement them would call a method on the Factory contract that deploys the corresponding STO.

For example, a Standard STO Factory contract would have a method to deploy

[2018-02-06 18:35] #129 closed

[2018-02-06 18:39] adamdossa commented on #136
Answer in discussion with @Everhusk is no they shouldn't... so closing this.

[2018-02-06 18:39] #136 closed

[2018-02-06 18:39] #133 closed

[2018-02-06 18:39] #131 closed

[2018-02-08 16:29] Everhusk commented on #115
We could add a function in Template.sol to getTotalRaised(address _securityToken) which pulls the latest numbers from the ST contract.

I think we could also remove this, from a UI perspective reputation is better displayed through the types of SecurityTokens it was used for (which could also sum the total raised from there). This can already be done through usedBy[].

[2018-02-08 16:34] Everhusk commented on #121
I like the first approach better. The reason we designed it this way originally is to allow the host to subsidize the cost of creating a security token by paying the fee for the issuer.

[2018-02-08 16:35] Everhusk commented on #114
This isn't necessary once STO's become factory based.

[2018-02-08 16:35] #114 closed

[2018-02-08 16:36] Everhusk commented on #113
Believe this is also fixed with STO factories

[2018-02-09 10:40] adamdossa commented on #137
Hi @pabloruiz55 - I took a slightly different route, although I can see pros / cons vs. your approach above. I changed Compliance / SecurityToken to accept OfferingFactory proposals (rather than Offering contracts) and then when you start the offering it generates a new instance from the factory for your ST. The reputation is then tracked at the Offering Factory level.

Take a look at the PR and l

[2018-02-09 11:58] #137 closed

[2018-02-09 11:58] #134 closed

[2018-02-09 11:58] #132 closed

[2018-02-09 11:59] #121 closed

[2018-02-09 11:59] #115 closed

[2018-02-09 12:00] adamdossa commented on #88
Closing as I don't think there is much we can do from this angle at the moment given that a KYC approval involves a POLY transfer and a data payload for the investor.

[2018-02-09 12:00] #88 closed

[2018-02-12 15:21] ksamotech commented on #138
On which exchange can I get polymath?

[2018-02-13 13:32] pabloruiz55 opened #146 "Decoupling ST/STO - Remove tokensIssuedBySTO from ST contract"
ST has a variable name `tokensIssuedBySTO` which is only used for checking the following:

[code]

`tokensIssuedBySTO` should be removed and a check in STO should be added so the STO can't put more tokens than available on sale.

[2018-02-13 18:16] adamdossa commented on #146
Since tokens aren't actually being minted (they are being transferred from the Offering contract to the contributors) do we need this check at all? The transfer function will already check that the Offering contract is not transferring more than its balance, which should be totalSupply?

[2018-02-13 20:48] Everhusk opened #149 "Namespace creation missing log"
Missing an event log on namespace creation

[2018-02-13 22:01] #149 closed

[2018-02-14 08:51] adamdossa opened #152 "Remove quorum / lock-up period from ST and move it to STO"
These two fields are more related to the offering than the security token.

Thoughts on moving these over to the Offering(Factory) side?

[2018-02-14 12:24] bshevchenko opened #153 "Compliance::proposeTemplate allows to propose same template multiple times"
Compliance::proposeTemplate allows to propose same template multiple times and then it returns duplicated addresses from getAllTemplateProposals

[2018-02-14 13:13] pabloruiz55 opened #154 "Offering Factory::proposeOffering allows to propose same offering multiple times"
Just as #153  , a factory can be proposed multiple times and it will get added repeatedly to the array.

@adamdossa What do you think is the most straightforward way to solve this?
I can think of two ways:

1- Loop through the array to make sure there isn't another element with the same address.
2- In addition to (or instead of ?) having an array, have a mapping that keeps track of the proposals b

[2018-02-14 13:31] adamdossa commented on #154
I guess first thing to mention is that proposing the same factory / template multiple times doesn't actually cause any issues AFAICT.

In general though, I agree with @satyamakgec that a mapping is the best option (looping over the array wouldn't work if the array grows too large).

[2018-02-15 09:13] #153 closed

[2018-02-15 10:10] adamdossa commented on #152
So - I think these two parameters should be moved out of `function SecurityToken` and into `function initialiseOffering`.

@pabloruiz55 can you think of any reason this wouldn't work? Assigning to you if that's OK as I am travelling for most of today.

[2018-02-15 10:10] #146 closed

[2018-02-15 10:11] adamdossa opened #158 "Race condition to setRegistrarAddress"
Currently there is a small attack surface whereby someone can try and call this function during contract deployment. This is easy to identify and very unlikely, so not fixing for now.

[2018-02-15 10:29] #154 closed

[2018-02-15 12:25] #152 closed

[2018-02-16 16:52] satyamakgec opened #161 "No need of _owner in changeNameSpace?"
`_owner` can be replaced by the `msg.sender`

[2018-02-16 16:53] satyamakgec opened #162 "fee > 0 in createNameSpace?"

[2018-02-16 16:55] satyamakgec opened #163 "remove initialiseSecurityToken for now or not?"
I think we have to remove that if it makes gas issue

[2018-02-16 16:58] satyamakgec opened #164 "there is no check on the _type variable of createSecurityToken()"
do we have any range of type ?

[2018-02-16 17:00] pabloruiz55 commented on #161
CreateNamespace should also set the owner to msg.sender, we don't want someone registering a namespace and mistakenly put someone else as the owner.

[2018-02-16 17:01] satyamakgec opened #165 "need getNameSpaceData() function in securityTokenRegistrar.sol"
either it will be public `mapping (string => NameSpaceData) nameSpaceData` or we need some get function.

[2018-02-16 17:09] satyamakgec opened #166 "make same pattern of comparison for all address type variable"
`require(offering == 0x0)` ->  `require(offering == address(0))`

[2018-02-16 17:13] satyamakgec opened #167 "emit Transfer event when changing totalSupply in securityToken & need check _totalSupply>0"

[2018-02-16 17:28] satyamakgec opened #168 "need to update the roles.md"
add role `5` to offering contract

[2018-02-16 17:47] satyamakgec opened #169 "any role type customer get verified for now"
the role should be in range 1 to 4, not any other number

[2018-02-16 18:45] pabloruiz55 commented on #169
At some point @Everhusk said that there could be many more than 4 roles.

[2018-02-16 18:47] pabloruiz55 commented on #167
Not sure about this. Given that the token would not be "live" yet, don't know if it makes sense to emit the Transfer event.
@adamdossa what are your thoughts?

[2018-02-16 18:48] pabloruiz55 commented on #165
Let's make it public

[2018-02-16 18:49] pabloruiz55 commented on #163
Right now it's commented, but if we don't need to separate the creation process in 2 functions, then yes, let's remove it.

[2018-02-16 18:49] pabloruiz55 commented on #162
I believe it should be ok for the owner of the namespace to decide that tokens they register are free.

[2018-02-17 10:25] satyamakgec commented on #169
Then i think we need to define the range 1 - 15 or any. to make the role authentic

[2018-02-17 10:59] satyamakgec commented on #161
in changeNameSpace what is our agenda to change the fee or owner as well as because for now, we are changing both? I suppose we only require to change the fee only

[2018-02-17 11:06] satyamakgec commented on #167
As @adamdossa proposed earlier that it would be needed for exchange as we are also emitting the event at the time of creation of ST

[2018-02-17 17:16] #166 closed

[2018-02-19 10:25] bshevchenko opened #174 "Offering factory can be proposed to ST even if it's not registered via registerOfferingFactory"

[2018-02-19 11:16] pabloruiz55 commented on #174
Yeah, you are right. We should probably enforce that the offering contract can only be deployed by the corresponding factory address.
@adamdossa  ?

[2018-02-19 14:18] bshevchenko opened #175 "There is no way to retrieve namespace fee value"

[2018-02-19 14:41] satyamakgec commented on #175
There is a function called `getNameSpaceData` to retrieve the fee and owner of the namespace, may you are using an old version of master.
https://github.com/PolymathNetwork/polymath-core/blob/b127ff0033b09e989244762a3bf01b9e45c8296b/contracts/SecurityTokenRegistrar.sol#L187

[2018-02-19 14:43] bshevchenko commented on #175
@satyamakgec then we need to deploy new contracts, but it's not urgent since we hardcoded namespace in the polymath-app

[2018-02-19 14:48] satyamakgec commented on #175
Once we finalize with the v2 then you can change it.

[2018-02-19 14:48] #175 closed

[2018-02-19 14:53] adamdossa commented on #174
One possible approach is to get rid of the "register" step. Then when you propose an offering factory it creates a reputation (if it doesn't already exist) and checks the offering factory validity (i.e. the checks currently done in the "register" step).

[2018-02-19 14:54] adamdossa commented on #174
If no one has any objections I can put in the above change.

[2018-02-19 15:02] adamdossa commented on #167
Hmm - this is a good point. AFAICT it would be possible for the owner to:
1. initialise totalSupply to 100.
2. transfer 50 tokens to person b.
3. change totalSupply to 200.

This would result in 250 tokens (since the owner would have a balance of 200 and person b would still have 50).

Maybe being able to change the total supply isn't a good thing and it would be better to include a burn / mint fu

[2018-02-19 15:02] adamdossa commented on #167
(with the burn / mint function only being usable before the offering has started)

[2018-02-19 15:04] adamdossa commented on #162
Yep - my view is that 0 fees are OK for namespaces and also templates / offering factories - I don't see that the protocol needs to enforce fees are always > 0.

[2018-02-19 15:16] satyamakgec commented on #174
@adamdossa yes that is the possible approach

[2018-02-19 16:01] pabloruiz55 commented on #167
IMHO we should remove all these functions that allow the modification of the token data.
The UI should be in charge of storing the data entered locally up to the point where the user wants to finalize the token creation and then save the data on the blockchain. From then on, the token is final and no data can be changed, if they wanted to change it, they would just create a new token and pay the f

[2018-02-19 16:06] adamdossa commented on #167
Yeah - I am coming round to this POV. Initial thinking is that we didn't want to put people off generating STs by locking everything in stone upfront, but in practice they could just regenerate their token (and possibly ask for their initial POLY fee to be refunded). Certainly totalSupply should be removed. For decimals & name (which are really just display artifacts) I guess it is less dangerous

[2018-02-19 16:11] pabloruiz55 commented on #167
@adamdossa name is just for display, but decimals could potentially have some implications just as totalSupply does.
If you are ok with that, I'd rather take the simpler approach and have those functions removed.

[2018-02-19 16:33] satyamakgec commented on #169
no need to check the role as role will more than 4

[2018-02-19 16:33] #169 closed

[2018-02-19 16:37] adamdossa commented on #167
Yep - will put this through in a PR today. You've convinced me ;-).

[2018-02-19 18:07] pabloruiz55 opened #176 "KYC Provider: Add fee logging to kyc provider creation"
event LogNewProvider(address indexed providerAddress, string name, bytes32 details);

Should also log the fee entered

[2018-02-19 21:00] adamdossa commented on #174
I took a slightly different approach in:
https://github.com/PolymathNetwork/polymath-core/pull/177

This issue exists for both Templates and OfferingFactories - both can be proposed without having first been created / registered through Compliance.sol (i.e. a Template could be created elsewhere, then proposed in Compliance.sol). I changes the code to overload a part of the reputation to record tha

[2018-02-20 12:00] #176 closed

[2018-02-20 12:07] #162 closed

[2018-02-20 15:38] #174 closed

[2018-02-20 15:39] satyamakgec commented on #167
fix in #177

[2018-02-20 15:39] #167 closed

[2018-02-21 10:50] satyamakgec opened #179 "No use of `if` statement. if it will be written as of now."
I think we mistakenly added the extra statement at line 302
https://github.com/PolymathNetwork/polymath-core/blob/8027a0bc6ec44bd61d3869a1e4a9b6b6a2b2cfd1/contracts/Compliance.sol#L298-L302

[2018-02-21 11:09] pabloruiz55 commented on #179
Yes, it seems like it. While you are at it, instead of `if (xxx == false)` please change it to `if (!xxx)`

[2018-02-21 12:41] #179 closed

[2018-02-21 12:56] satyamakgec commented on #168
fix in #181

[2018-02-21 12:56] #168 closed

[2018-02-22 23:37] Everhusk opened #183 "Missing check on registerOfferingFactory"
There should be a check to prevent duplicate registration of an offeringFactory.

[2018-02-23 06:18] satyamakgec commented on #183
I think we are covering this by the check
https://github.com/PolymathNetwork/polymath-core/blob/7413dbd27347b27c8923d762e8b17da7745cc9c3/contracts/Compliance.sol#L199-L200

Above check facilitate to put up the restriction on changing the offeringFactory reputation data. if the offering factory doesn't get proposed then it will be potentially opened for this duplicate registration and I think it do

[2018-02-23 14:32] pabloruiz55 opened #184 "Template: Add event to template finalization method"
Let's add an event that logs that the template has been finalized and the timestamp.

[2018-02-23 20:48] #184 closed

[2018-02-25 23:15] pabloruiz55 opened #193 "Ticker Reg: have securityTokenRegistrar check namespaceRegistrar before allowing a ticker name to be registered"
The STregistrar should check the namespaceRegistrar to make sure that the ticker name that is being registered has not been reserved.
It should also make sure the reservation has not yet expired. (90 days from reserve date.)

[2018-02-26 11:42] pabloruiz55 commented on #191
@adamdossa this one is extremely important in case people come to the booth and they don't have an eth address at hand. The admins can register it to themselves and then when biz dev gets in touch they can transfer ownership to the person who registered.

[2018-02-26 12:25] adamdossa commented on #192
Any reason for this? I'd have thought it would be fine for an admin to remove themselves as admin. Note that a non-admin can't add themselves as an admin as they wouldn't be able to call the function in the first place.

[2018-02-26 12:50] pabloruiz55 commented on #192
The problem with that is that if an admin can remove his own address, then there's the chance of locking everyone out of the contract and having no admin.

[2018-02-26 16:18] win2win commented on #193
In the function registerToken()  of the NameSpaceRegistrar.sol you are having this line.
require(symbolOwner[_nameSpace][_symbol] == address(0));

This line will fail ticker registration if one has been already registered for the name space.
Do you require additional constant function which will return e.g. false or true to indicate status of the ticker registration?

[2018-02-26 16:43] adamdossa commented on #193
I will add some more detail for this:

`NameSpaceRegistrar` - this is a simple standalone contract which allows `admins` to "pre-register" token symbols, under a given namespace, on behalf of Issuers.

`SecurityTokenRegistrar` - this is the entry point for Issuers to the Polymath protocol. New security tokens are created by calling `createSecurityToken`, passing in an `_owner` who will be the owne

[2018-02-26 18:19] adamdossa commented on #196
Good catch!

[2018-02-27 14:49] satyamakgec commented on #196
fix #200

[2018-03-22 11:43] pabloruiz55 opened #21 "Separate Permissions from Delegates (V2)"
Delegates

3rd party entities (marketing, legal, consulting, developer etc.) can be added as Delegates to a token in return for a POLY fee. There is no obvious way to enforce that all parties collaborating on an issuance (issuer, legal, marketing etc.) use this approach, but if they want to be “officially” attached to the Security Token then they would need to go through the Polymath ecosystem and

[2018-04-09 11:03] adamdossa opened #74 "Ensure that ModuleFactory's have the PolyToken address for any costs / budgets"

[2018-04-09 11:18] adamdossa commented on #68
Hmm - I am going to go out on a limb and say it doesn't really make sense to support this unless the original token is somehow "destroyed" and unreferenced from moduleRepository, STR etc.

Otherwise, there will effectively be two Polymath tokens with the same symbol knocking around.

I guess the main reasons for needing to start over, would be if there is a mistake in the decimals, company name pa

[2018-04-09 15:02] pabloruiz55 commented on #68
Yeah, just wondering if it made sense to add this functionality as I was asked a few times about it. I agree that there's only a few things you need to do and it's hard to get wrong.

[2018-04-09 15:03] pabloruiz55 commented on #54
I'm very interested in seeing this work (or not work if that's the case).

[2018-04-09 20:08] #74 closed, assigned to adamdossa

[2018-04-10 10:15] adamdossa commented on #54
Hi @pabloruiz55,

So - I spent a while last night playing with this, with the following conclusions.

1. It is possible to specify a gas limit higher than the block gas limit when making a call (rather than sending a transaction), but there are some challenges:
  - testrpc doesn't support these semantics - if you specify a high gas price on a call, it will return a "Exceeds Block Gas Limit" error.

[2018-04-10 12:34] satyamakgec opened #76 "Should we hard set the locked value as `true` for type 3 module factory ?"
As per the business logic, Type 3 module factory always have the locked value `true`. So once it gets attached to the ST it will not be replaced by another STO?

@adamdossa  @pabloruiz55 Thoughts?

[2018-04-10 12:40] adamdossa commented on #76
In general it shouldn't be possible to replace the STO.

Thinking about it, we should have logic that allows you to 'lock' a module type after deploying the module, so that you can:

1. Add an STO module
2. [some time passes]
3. Replace the STO module with a new one due to changing requirements.
4. Lock the STO module.
5. STO starts.

@pabloruiz55 WDYT?

[2018-04-10 12:41] pabloruiz55 commented on #76
IMHO module types should have the possibility of forcing the modules to always be locked or not.
In the case of STOs, there should be no possibility of setting them to unlocked.

[2018-04-10 12:58] adamdossa commented on #76
I was thinking of some cases where an Issuer may even want to attach more than one STO (e.g. an STO for raising in POLY, and a separate STO for raising in ETH, or an STO whose purpose is to manage pre-sale or vesting allocations). Not sure I see the advantage of automatically locking particular types rather than leaving it at investor discretion? From an investors perspective the "investor dashboa

[2018-04-10 13:56] nyeates commented on #54
"still somewhat decentralised for unverified modules" I like this notion, that anyone can add them w/o our permission, yet we keep 'verified' ones. Is there a way to have modules classified by a person's registered domain? I had seen an eth-domain system getting going as an EIP.

It seems that you would eventually want a remove functionality - possibly for unknown circumstances that we can't imagi

[2018-04-10 14:08] adamdossa commented on #54
Integration of ENS (eth domains) into the Protocol is def. an interesting topic - possibly adding a module for this would be a great hackathon entry! (i.e. a module to allow an issuer to "easily" register an ENS domain for their security token).

[2018-04-10 14:29] pabloruiz55 commented on #76
I agree, let's leave it as it is.
We can explore this other topic:

[2018-04-18 13:55] #76 closed, assigned to nobody

[2018-04-24 17:17] nyeates opened #87 "Polymath-Core Bug Bounty Program"
# Polymath-Core Bug Bounty

Polymath wishes to operate this bug bounty program in order to upkeep the utmost of trust and security in our solidity contracts. The developer community is invited to understand and pick-apart our open source ["Polymath-core" code base](https://github.com/PolymathNetwork/polymath-core/).

We are supplying the following rewards structure:
- 8 ETH for Critical severity b

[2018-04-24 20:55] vs77bb commented on #87
Note to @stefanionescu and all other Gitcoiners: multiple people can independently review these contracts. See the rules @nyeates used for the submission process above and good luck!

[2018-05-10 15:59] pabloruiz55 opened #100 "STO conversion rate yields incorrect amount of tokens when decimals is other than 18."
[code]

This will give an incorrect amount of tokens if decimals is not 18.

[2018-05-15 16:46] #100 closed, assigned to satyamakgec

[2018-05-16 18:03] adamdossa opened #106 "`useModule` does not properly check that caller is a SecurityToken"
`useModule` calls `getSecurityTokenData` in the SecurityTokenRegistrar, which in turn checks the owner of the referenced security token address. However, this call will succeed provided the referenced security token address has an `owner` variable, even if the address is not actually a security token.

A better option would be to check that the address is in the STR registry, but this is not possi

[2018-05-16 20:37] pabloruiz55 commented on #106
What problems/vulnerabilities does this pose?

[2018-05-17 09:05] adamdossa commented on #106
It allows a malicious actor to spuriously modify the reputation of a module in the registry by registering lots of use, outside of the intended ST usage.

A simple fix would be to only register usage for registered security tokens, although this will mean that use of the GTM is not registered (as this is added before the ST is registered in the STR). Since we don't really care about the reputation

[2018-05-17 11:22] pabloruiz55 commented on #106
Got it. Let's add this to the backlog for next sprint.

[2018-05-21 22:47] pabloruiz55 opened #111 "Burning tokens does not update the investor count"
If the burn would result in the holder not having anymore tokens, the investor count should be reduced.

[2018-05-21 22:55] pabloruiz55 opened #112 "Many methods of SecurityToken are missing natspec comments"

[2018-05-22 00:08] pabloruiz55 opened #113 "CountTransferManager may cause invalid transfers to be allowed"
[code]

Since
[code]

returns VALID, this could enable a transfer even if _from/_to are not in the GTM's whitelist since the GTM does not ever return Result.INVALID

[2018-05-22 00:09] pabloruiz55 commented on #113
This is also true for PercentageTranferManager

[2018-05-22 00:10] pabloruiz55 commented on #113
Probably ExchangeTransferManager as well

[2018-05-22 09:24] #106 closed, assigned to nobody

[2018-05-22 09:26] adamdossa commented on #113
Fixed for CountTM & PercentageTM. I think the ExchangeTM is OK since this TM is allowed to unilaterally decide that a transfer is valid.

[2018-05-22 13:26] #113 closed, assigned to adamdossa

[2018-05-23 12:36] #111 closed, assigned to adamdossa

[2018-05-23 12:38] #21 closed, assigned to adamdossa

[2018-05-23 12:55] pabloruiz55 commented on #87
Please refer to this article for updated info about our ongoing bug bounty: https://blog.polymath.network/announcing-the-polymath-network-bug-bounty-3e4a78ac9809

[2018-05-23 12:55] #87 closed, assigned to pabloruiz55, adamdossa

[2018-05-24 13:13] #112 closed, assigned to satyamakgec

[2018-08-16 13:06] satyamakgec opened #189 "STR/TR: Getter for tokens registered by each issuer"
Add the functionality through which we can access the ticker or token list owned by the issuer

[2018-08-16 13:07] satyamakgec opened #190 "Add custom ticker to ticker registry that doesn't charge POLY for the Owner of the registry"

[2018-08-16 13:08] satyamakgec opened #191 "transferTickerOwnership functionality"
TickerRegistry: 2- While I can register a ticker on behalf of someone else by entering their address instead of mine, I can not transfer ownership of the ticker. If we registered the tickers under our own account, then we would have to be the ones deploying their token and only then we would be able to transfer ownership of the ST.

[2018-08-16 13:11] satyamakgec opened #192 "add expiryTimestamp variable into the symbolDetails struct of the TickerRegistry"
TickerRegistry: The expiry date is general for everyone. The system uses a single expiryLimit (say 15 days) across all tickers. Changing the expiryLimit to 6 months means everyone will get 6 months.

[2018-08-21 07:14] satyamakgec opened #194 "ModuleRegistry needs getter methods for the arrays"
Necessary for the CLI, front-end and stats

[2018-08-21 07:15] satyamakgec opened #195 "LogGenerateModuleFromFactory needs to have SetupCost logged"

[2018-08-21 07:16] satyamakgec opened #196 "Standardize STOs so we can ensure all STO modules can have the same data fetched"

[2018-08-22 05:59] satyamakgec opened #197 "Internal function naming convention"

[2018-08-22 06:00] satyamakgec opened #198 "Review the getModuleByName logic"
Names for modules are not unique. We need to figure out a different way of doing this or at least enforcing module name uniqueness

[2018-08-22 06:01] satyamakgec opened #199 "Add registration date to SecurityTokenData for 1.4.0"

[2018-08-22 06:03] satyamakgec opened #200 "Make it possible to change a ModuleFactory's title, name ,description"

[2018-08-22 11:12] adamdossa opened #204 "Remove dependencies between oracles and the security token registry"
Move oracle address registry into PolymathRegistry (and out of the SecurityTokenRegistry),

[2018-08-22 14:30] pabloruiz55 opened #206 "Registry upgrading"
- All registry upgrades (STR, TR & MR) will be done in-place using a proxy / delegate call pattern.
  - This means that anyone using these contracts (e.g. SecurityToken or Modules) has no control over whether they get the upgrade or not.
  - As a result of this, any dependencies on these contracts are subject to breaking (i.e. if Polymath self-destructs the contract), which implies no existing fun

[2018-08-22 14:32] pabloruiz55 opened #207 "Module Upgrading"
Do we need something beyond what we already have? What is the downside to this approach:
  - deploy new CappedSTOFactory contract with updated logic.
  - un-verify the previous CappedSTOFactory contract in the module registry
  - verify the new CappedSTOFactory in the module registry
  - in the dApp change over to the new CappedSTOFactory address
At this point, the only CappedSTO that users will b

[2018-08-22 14:34] pabloruiz55 opened #208 "Security Token Upgrading"
- I don't think we should be looking to facilitate upgrading in place for security tokens for a host of reasons (gives issuers too much power / ability to screw up).
  - It would however be quite nice to allow an issuer to create a new token as a clone from a previous one, which should be possible given the checkpoint functionality. This means that if an issuer wants to upgrade to a later version

[2018-08-22 17:16] adamdossa opened #209 "Refactor interfaces into true `interface` files"
Split out implementations vs. interfaces and create true `interface` files for Polymath contracts.

[2018-08-23 13:46] adamdossa commented on #207
Modules should have a dependency on the security token version (since there are dependencies between the module and the security token it is attached to).

[2018-08-24 10:39] adamdossa opened #214 "ManualApprovalTransferManager should only accept verifyTransfer calls from the ST if `_isTransfer` is true"
To avoid an external account being able to grief a manual approver, this function should only allow calls from the SecurityToken for real transfers

[2018-08-24 12:48] #214 closed, assigned to adamdossa

[2018-08-28 06:09] satyamakgec opened #225 "Make it possible for Polymath to modify a ticker in the TR"

[2018-08-28 06:10] satyamakgec commented on #200
fix #203

[2018-08-28 06:10] #200 closed, assigned to satyamakgec

[2018-08-28 06:12] satyamakgec commented on #199
fix in #220

[2018-08-28 06:12] #199 closed, assigned to satyamakgec

[2018-08-28 06:13] satyamakgec commented on #198
fix in #205

[2018-08-28 06:13] #198 closed, assigned to satyamakgec

[2018-08-28 06:14] satyamakgec commented on #197
fix in #201

[2018-08-28 06:57] satyamakgec commented on #196
fixed in #193

[2018-08-28 06:57] #196 closed, assigned to satyamakgec

[2018-08-28 16:08] satyamakgec opened #227 "Remove SwarmHash from TR and STR"

[2018-08-28 16:09] satyamakgec opened #228 "STR: standardize new token logging"

[2018-08-28 16:10] satyamakgec commented on #195
fixed in #193

[2018-08-28 16:10] #195 closed, assigned to satyamakgec

[2018-08-28 16:10] satyamakgec commented on #194
fixed in #193

[2018-08-28 16:10] #194 closed, assigned to satyamakgec

[2018-08-28 16:11] satyamakgec commented on #192
fixed in #188

[2018-08-28 16:11] #192 closed, assigned to satyamakgec

[2018-08-28 16:12] satyamakgec commented on #191
fixed in #188

[2018-08-28 16:12] #191 closed, assigned to satyamakgec

[2018-08-28 16:12] satyamakgec commented on #190
fixed in #188

[2018-08-28 16:12] #190 closed, assigned to satyamakgec

[2018-08-28 16:13] satyamakgec commented on #189
fixed in #188

[2018-08-28 16:13] #189 closed, assigned to satyamakgec

[2018-08-31 07:06] satyamakgec commented on #228
fixed #230

[2018-08-31 07:06] #228 closed, assigned to satyamakgec

[2018-08-31 07:06] satyamakgec commented on #227
fixed #230

[2018-08-31 07:06] #227 closed, assigned to satyamakgec

[2018-08-31 07:06] satyamakgec commented on #225
fixed #230

[2018-08-31 07:06] #225 closed, assigned to satyamakgec

[2018-08-31 07:07] satyamakgec commented on #197
fixed #201

[2018-08-31 07:07] #197 closed, assigned to satyamakgec

[2018-08-31 13:53] adamdossa opened #238 "Make beneficiary investments optional in STOs"
Issuers can choose whether to accept beneficiary STO contributions (e.g. Alice pays for Bobs tokens).

Default is to not allow this.

[2018-08-31 13:53] adamdossa opened #239 "Fix fee logic in modules"
Fix bug in modules that doesn't allow ongoing fees to be pulled.

[2018-08-31 18:40] #238 closed, assigned to adamdossa

[2018-08-31 18:40] #239 closed, assigned to adamdossa

[2018-09-04 09:34] adamdossa opened #247 "Add ability to set non-accredited limit per investor"
USDTieredSTO should allow individual investor non-accredited limits to be set.

[2018-09-04 11:16] #247 closed, assigned to adamdossa

[2018-09-06 10:15] satyamakgec opened #248 "Make it possible for Polymath to replace a token on the STR"
## Issue Template

Please use this template when submitting issues to this repo

### Is your feature request related to a problem? Please describe.
Adding the possibility to replace the token in the STR

### Solution
As we are discussing @adamdossa over the #222 we can avail this functionality in the `addCustomeSecurityToken()` or have to create a new one.

### Alternatives
-

### Possible Impleme

[2018-09-10 10:01] satyamakgec opened #251 "Select the contracts whose docs need to show on developer portal"
- [ ] Fix the versioning issue.

- [ ] Feature of excluding the certain contracts

[2018-09-13 15:41] CPSTL opened #258 "Single-Trade Volume Restriction Module Development Task"
# Single-Trade Volume Restriction Module

Module Type | Bounty | Completion deadline
-- | -- | --
Transfer Manager |  3,000-5,000 POLY | 14 days starting the day of task acceptance

# Bounty Requirements

1. Module specs are fulfilled
2. Module is implemented using appropriate module interface
3. Module is tested with >95% branch coverage
4. Module is delivered before deadline

# Module Specs

1.

[2018-09-16 15:00] #209 closed, assigned to adamdossa

[2018-09-16 15:00] #204 closed, assigned to adamdossa

[2018-09-16 15:01] adamdossa opened #260 "Remove looping over module in onlyOwner, add archive / unarchive / remove modules"
Remove restrictions on the number of modules by optimising data structures.

Introduce archiving / unarchiving modules and removing modules as separate concepts

[2018-09-18 21:02] CPSTL commented on #258
Hello @subramanianv! Would it be possible for you to work on the single-trade vol restrictions from the development-1.5.0 branch instead of master?

[2018-09-19 13:49] #260 closed, assigned to adamdossa

[2018-09-19 13:49] #248 closed, assigned to satyamakgec

[2018-09-19 20:14] CPSTL opened #267 "Module Development Task: Volume Restriction (Maximum Volume Transfer)"
# Module Development Task
# Volume Restriction  (Maximum Volume Transfer)

Module Type | Bounty | Completion deadline
-- | -- | --
Transfer Manager | Approx. 10, 000 POLY | 21 days to complete once task is confirmed by external developer(s).

# Short Summary:

For this module, ‘Maximum Volume Transfer’ we want to implement it in a way that you can only transfer a limited number of the total number

[2018-09-19 20:16] CPSTL opened #268 "Module Development Task: Volume Restriction (Dumping)"
# Module Development Task
# Volume Restriction (Dumping)

Module Type | Bounty | Completion deadline
-- | -- | --
Transfer Manager | Approx. 10, 000 POLY | 21 days to complete once task is confirmed by external developer(s).

# Short Summary:
This requires a way to track the number of tokens sent in a given time period. This module aims to prevent the dumping ability for security token owners by r

[2018-09-19 20:17] CPSTL opened #269 "Module Development Task: Vesting Escrow Wallet"
# Module Development Task
# Vesting Escrow Wallet

Module Type | Bounty Payout | Completion deadline
-- | -- | --
Wallet | 5, 000 POLY | 14 days to complete once task is confirmed by external developer(s).

# Short Summary
As an Issuer, I can program an automated token vesting schedule for employees and/or affiliates so that Tokens get delivered to their wallets as contractually defined.

This wou

[2018-09-20 17:31] CPSTL opened #272 "Module Development Task: Automated Blacklisting"
# Module Development Task
 # Automated Blacklisting

Module Type | Bounty | Completion deadline
-- | -- | --
Transfer Manager | Approx. 5, 000 POLY | 21 days to complete once task is confirmed by external developer(s).

# Short Summary
This module will allow approved staff to create and establish an automated blacklist to prevent Insiders from selling thus de-risking price swings during time sensi

[2018-09-21 10:20] darioAnongba opened #273 "Unnecessary looping when FORCE_VALID returns"
Hi,

I was looking at the Polymath code and realized something that is not optimised in the `SecurityToken.sol` file. So just letting you know. I might be wrong on this. This piece of code:

[code]

could be:

[code]
So as soon as you hit a FORCE_VALID you automatically return `true` instead of going through all other TransferManagers.

[2018-09-21 11:10] adamdossa commented on #273
Hi @darioAnongba - firstly - thanks for the feedback and reviewing the code.

Looking at the code I think you're correct - we can always return true if we receive a FORCE_VALID from a TransferManager - thanks for spotting this!

[2018-09-21 12:30] darioAnongba commented on #273
Also, by checking the order of the if statements and doing first the FORCE_VALID, then the INVALID and finally the VALID and using `if - else if` will also improve the code, because a `Result` can only be one of those.

[code]

Although this should be optimised at compilation time.

[2018-09-21 12:38] adamdossa commented on #273
Going to leave this open until we fix it.

[2018-09-21 18:14] satyamakgec commented on #272
@kpulkit29 All the specs are listed [here](https://www.lucidchart.com/invitations/accept/c544a325-e74d-4e54-a360-71805a9f10ce) and you also have the suggested implementation written in the issue. If you still have some confusion then you can ask queries here (issue thread) or on our gitter [channnel](https://gitter.im/PolymathNetwork/Lobby)

[2018-09-21 18:57] kpulkit29 commented on #272
Does the automated blacklist entry need to be made in the contract??

On Fri, Sep 21, 2018 at 11:44 PM Satyam Agrawal <notifications@github.com>
wrote:

[2018-09-21 19:39] kpulkit29 commented on #272
I mean the part where approved staff click  enables the blacklist.I guess
this is how it needs to be done store the blacklist details in the
contract.For the staff to see the details the entered blacklist details are
pulled out from the contract.Then eth address can be assigned through a
contract function to a particular blacklist.

On Sat, Sep 22, 2018 at 12:26 AM pulkit k <kpulkit291@gmail.com>

[2018-09-22 00:22] pabloruiz55 commented on #272
@kpulkit29 yes, one way to do it would be to have a set of rules, for example:
Start date: 10000, Duration: 1000, interval: 1500. This would mean that for an address following this rule transactions out would fail from timestamp 10,000 to 11,000; 12,500 to 13,500; 15,000 to 16,000, and so on.

Then, addresses could be "added" so they follow one of these rule sets.

Both rule sets and addresses wou

[2018-09-22 01:16] subramanianv commented on #258
I am still working on this
On Sat, Sep 22, 2018 at 12:15 AM Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-09-22 06:07] satyamakgec commented on #269
@shanefontaine Sounds like a plan from your side.
Answers to your queries -

- Employees/Affiliates can pull the tokens when they are available.

-  As per our current ecosystem, we don't have the upgradeable modules so I prefer you can follow the same standard as we have in our existing module ecosystem.

- Vesting schedule is variable for some employees it will be 4 yrs some for 2 yrs and some f

[2018-09-22 06:10] satyamakgec commented on #268
@samparsky Sounds awesome! Best of luck

[2018-09-22 07:29] kpulkit29 commented on #272
What does interval signify here??I would like to start work on this if
approved on gitcoin explorer.

On Sat, Sep 22, 2018 at 5:52 AM Pablo Ruiz <notifications@github.com> wrote:

[2018-09-22 10:59] pabloruiz55 commented on #272
It means how often the start/end repeats. As per my example, you would want to block transfers for a group during 15 days, every 4 months.

[2018-09-22 14:29] kpulkit29 commented on #272
Sir I would be able to start work if you can approve

On Sat, Sep 22, 2018 at 4:29 PM Pablo Ruiz <notifications@github.com> wrote:

[2018-09-22 15:28] CPSTL commented on #272
@kpulkit29 Approved :)

[2018-09-22 21:26] shanefontaine commented on #269
@satyamakgec Am I approved and allowed to proceed on this work?

[2018-09-23 04:05] satyamakgec commented on #269
@CPSTL please put some light here.

[2018-09-23 05:11] maxsam4 opened #275 "Variables in proxies don't have a fixed location"
The proxy contracts in development-1.5.0 branch have critical variables such as __upgradeabilityOwner, __implementation defined at non-fixed locations. This means that the compiler will assign them storage slots from the start.

Unless we define these variables (or unused, waste variables) at the beginning of all implementations as well, The implementation's own variables will also get assigned th

[2018-09-23 08:03] kpulkit29 commented on #272
ParserError: Expected token Comma got 'Identifier'
        (bytes32 price, bool valid) = Medianizer(makerDAO).peek();

[2018-09-23 08:03] kpulkit29 commented on #272
Getting this error on truffle compile not able to get the repo running

[2018-09-23 10:51] pabloruiz55 commented on #272
@kpulkit29 which branch are you woking on? Truffle / solc versions?

[2018-09-23 10:57] kpulkit29 commented on #272
truffle 4.1.18
solc, Version: 0.4.24+commit.e67f0147.Darwin.appleclang

Should I only try running at dev-1.5 branch

On Sun, Sep 23, 2018 at 4:21 PM Pablo Ruiz <notifications@github.com> wrote:

[2018-09-23 12:00] satyamakgec commented on #272
@kpulkit29 I don't think so that compilation error exists in any of our branches (Please tell me which branch you take as the base branch so I can cross-check),  Please check your environment setup and follow these [environment requirements](https://github.com/PolymathNetwork/polymath-core#package-version-requirements-for-your-machine). And yes you only need to work corresponds to `development-1.5

[2018-09-23 12:43] satyamakgec commented on #275
Hey, @maxsam4 Thanks to sneak in our smart contracts. But I am not totally agree with you because We are not using the `unstructured proxy patterns` where you need to assign the storage slot because of the overwriting problem. But in `EternalStroage` proxy patterns, this problem does not exist
you can understand with this simple smart contract ex -

         contract Proxy {
             address p

[2018-09-23 13:49] maxsam4 commented on #275
Hey @satyamakgec, Thanks for clearing the things. I see that you are using Key Value Storage technique in most contracts.

Some of the contracts I saw didn't implement the key value concept and that's when I thought something is wrong. I guess those contacts aren't meant to be upgradable or are currently being refractored.

I would also like to add that Unstructured proxy storage technique can als

[2018-09-23 14:02] satyamakgec commented on #275
Yes, we are not declaring the proxy variables in the Eternal storage, Above contract is only used for the understanding purpose `How storage will work?`.

Closing this issue.

[2018-09-23 14:02] #275 closed, assigned to nobody

[2018-09-23 15:04] CPSTL commented on #269
@shanefontaine Please let me know if you have any questions as you work towards this task.

[2018-09-24 10:12] kpulkit29 commented on #272
`pragma solidity ^0.4.24;
/**
 * @title AutomateBlacklist
 * @dev to automate blacklist process
 */
contract AutomateBlacklist {

    /**
     * @dev structure for the blacklist period
     */
     struct BlacklistDetails {
         uint256 startDate;
         uint256 endDate;
         uint256 repeats;
     }
     /**
      *@dev to check if the maaping of investor exists
      */
      modifier i

[2018-09-24 10:15] kpulkit29 commented on #272
This is a very bare bones logic I made.A lot of functionality needs to be added here.In the canBeTransferred function the startDate ,endDate is updated and also checked for blacklisting period

[2018-09-24 10:16] kpulkit29 commented on #272
Kindly tell if I am going in the right direction with this so that I can continue integrating it with other modules and writing truffle test for it

[2018-09-24 12:25] satyamakgec commented on #272
@kpulkit29 Please first read the existing modules that are present in the [modules folder](https://github.com/PolymathNetwork/polymath-core/tree/development-1.5.0/contracts/modules) and understand the nomenclature that we are using. As mentioned in the above specs `verifyTransfer()` is the key function to check whether the transfer will be successfull or not and for transfer managers you should ha

[2018-09-24 12:42] kpulkit29 commented on #272
Okay I will look into it

On 24 Sep 2018 17:55, "Satyam Agrawal" <notifications@github.com> wrote:

[2018-09-24 14:27] CPSTL commented on #258
@subramanianv Hello, do you have an update on this issue for us?

[2018-09-24 14:42] pabloruiz55 commented on #272
Hi @kpulkit29, I see a few problems specifically with the canBeTransferred function.
The logic seems off. If someone were to call it after a long time (let's say it repeats every 30 days and I only call this function after one year), the logic breaks as it will only try to sum the repeat once.

IMO, there's a way to do this that doesn't require saving state where you use division to know how many

[2018-09-24 14:47] kpulkit29 commented on #272
Thanks for the help.I would integrate with other modules and make a PR for
you guys to review

On Mon, Sep 24, 2018 at 8:15 PM Pablo Ruiz <notifications@github.com> wrote:

[2018-09-24 17:43] subramanianv commented on #258
I am working on the tests. Hopefully should have an completed PR in the
next couple days
On Mon, Sep 24, 2018 at 7:59 PM Charles Plant St.Louis <
notifications@github.com> wrote:

[2018-09-24 20:40] kpulkit29 commented on #272
Have made new PR https://github.com/PolymathNetwork/polymath-core/pull/276

[2018-09-24 20:40] kpulkit29 commented on #272
New blacklisting contract added Please explain what _perm means here in GeneralPermissionsManager.sol
function checkPermission(address _delegate, address _module, bytes32 _perm) external view returns(bool) {
if (delegateDetails[_delegate] != bytes32(0)) {
return perms[_module][_delegate][_perm];
}else
return false;
}
Also module address here would be address of blacklisting contract right??
Please

[2018-09-25 04:03] satyamakgec commented on #272
@kpulkit29 left the bunch of comments on the PR.

[2018-09-25 12:13] kpulkit29 commented on #272
@satyamakgec  I am making the changes you mentioned.So a new AutomatedBlacklistingFactory.sol also is required for deploying it right as different STO owners would like to make use of different modules

[2018-09-25 15:32] CPSTL commented on #272
@kpulkit29 Hello! After discussing internally, we are unfortunately going to have to remove you from this issue/task. This task requires a more advanced skillset and we have a strict timeline to get it completed by. Please standby for other development tasks that you may be interested in. Thanks for your understanding :)

[2018-09-25 15:52] kpulkit29 commented on #272
I respect your decision.But I request you to give it back to me as I have been reading your contracts and I was close to get the contract up and running.I had invested a lot of time understanding the code.Also getting removed from a bounty has a really negative effect on my profile.

[2018-09-25 15:55] kpulkit29 commented on #272
I promise to deliver it 1-2 days

[2018-09-25 16:18] kpulkit29 commented on #272
@CPSTL Sir I think I deserved to be warned about getting removed rather than straightaway being removed

[2018-09-25 16:21] samparsky commented on #268
@satyamakgec I have started work on this.
Created `VolumeRestrictionManager.sol` & `VolumeRestrictionManagerFactory.sol` in the TM folder, also using the TM architecture

[2018-09-25 17:04] kpulkit29 commented on #272
https://github.com/PolymathNetwork/polymath-core/pull/279

[2018-09-25 17:48] satyamakgec commented on #272
@kpulkit29 I appreciate your continuous efforts to this bounty, and I really like that you are a hardworking and curious guy.
Anyways this bounty is not just for the coding Pulkit through this bounty we are trying to find the right candidate who will work with us in near future. So not only we are judging the coding skills but the strategy to solve a problem is also important.
Don't be upset we ar

[2018-09-25 17:51] satyamakgec commented on #268
@samparsky Awesome! whenever your code is ready please create a PR (WIP) to review

[2018-09-26 01:10] shanefontaine commented on #269
@CPSTL @satyamakgec A few questions:

## Business Logic
1) Will the number of tokens in a specific vesting schedule ever increase (will you add more tokens into an employee's current vesting contract)?
2) Are all tokens going to be granted in whole units (10^18)?
3) Will there always be an exact number of tokens to distribute at each distribution event? If not, when will the additional tokens be d

[2018-09-26 04:09] vyomshm commented on #267
Yes. I'll submit a WIP PR  soon

[2018-09-26 13:31] satyamakgec commented on #269
@shanefontaine

Yes, many possible scenarios where the employee gets the more tokens as vested ex- Performance bonus.
So if Bob started a job in ABC Inc (at 4 April 2018) and gets 10000 tokens(as joining bonus) vested for 2 years with a cliff of 6 months (half yearly). so at 4 April 2019 he has 5000 tokens(2500 at 4 oct 2018 and 2500 more at 4 April 2019) now may be the same day Bob get the perfor

[2018-09-26 22:56] shanefontaine commented on #269
Thank you for the quick response. I am implementing those changes as we speak.

On issue I am trying to wrap my head around right now is a matter of architecture. I have been reading through [this](https://developers.polymath.network/docs/doc4.html), as well as a number of other references on your site about how the factories and interfaces work. I *believe* I understand it, but am having an issue

[2018-09-27 10:44] satyamakgec commented on #269
FYI more info on this

Does the contract pay out the unclaimed tokens to the user upon cancellation?
Do the unclaimed tokens get collected by the issuer as well?

Yes, option one will be Implemented and Issuer can retrieve any remaining unvested portion.

For your error, you need to implement a `getPermissions()` function in your Module. As `IModule.sol` have its declaration but you are not implem

[2018-09-27 14:01] adamdossa commented on #273
I just reviewed this and we can't make this optimisation.

We need to ensure that all transfer managers "see" all transfers that happen, in case they have internal state they are maintaining related to this.

So we can't short circuit this loop unfortunately.

[2018-09-27 14:01] #273 closed, assigned to nobody

[2018-09-27 14:22] shanefontaine commented on #269
You said option one and issuer, which are contracdictory. Which did you mean?

[2018-09-27 15:40] CPSTL commented on #269
@shanefontaine The Employee / Affiliate should be able to claim any tokens vested up until the schedule is voided. With that being said, afterwards the Issuer can retrieve any remaining unvested portion of tokens. Does that help answer your question?

[2018-09-27 19:58] CPSTL opened #287 "Module Development Task: Lockup Volume Restrictions"
# Module Development Task
# Lockup Volume Restrictions Module

Module Type | Bounty | Completion deadline
-- | -- | --
Transfer Manager | TBD | 14 days to complete once task is confirmed by external developer(s).

# Short description

A vesting schedule but the investor address needs to hold the tokens. As an Issuer, I want to be able to establish a Lockup period for my Affiliates and Employees so

[2018-09-27 22:11] samparsky commented on #268
@satyamakgec For modifying/editing the VolumeRestriction.sol are all the attributes i.e. % of tokens, start date, end date, rolling period modifiable?

[2018-09-27 23:56] shanefontaine commented on #269
@CPSTL Yes, it does, partially. What if the employee/affiliate has unclaimed, vested tokens after void of contract. I believe (and suggest) the solution is to make it in such a way that upon cancellation, the issuer receives the unvested tokens, the employee receives all vested tokens, and the account gets deleted. Does that sound reasonable?

[2018-09-28 01:40] shanefontaine commented on #269
@satyamakgec

Can this simply be done by creating a new vesting schedule with these tokens (as opposed to adding onto an existing schedule). Creating a new vesting schedule for new tokens makes sense, and is easy to implement/understand from an issuer's perspective. Adding tokens onto an existing schedule makes implementation _much_ more complex, causing a state change for each variable needing ch

[2018-09-28 09:32] satyamakgec commented on #269
Yes

I cannot think of a scenario where an issuer would need to add to an existing vesting schedule and NOT simply create a new one (even if it behaves the same way as the old one).

Yes simply create a new, My example has only sketched a scenario and I am a favor of creating a new one not to edit the same schedule.

Yes

[2018-09-28 10:26] vpanwar821 commented on #272
Hi,

I have made the PR [#289](https://github.com/PolymathNetwork/polymath-core/pull/289). Please review that and provide me the feedback. <br/>
Also,I need some more information about the delete blacklist type operation. As,mentioned in the requirements that approved staff can perform the delete operation so how this will work whether <br/>
[code]
Thanks

[2018-09-30 02:58] tanpv opened #293 "Run test fail on windows"
I clone whole repository then checkout to dev branch development-1.5.0
Then run the test with command "truffle test .\test\l_percentage_transfer_manager.js"
And only get 3 cases pass as log follow. Please help

 `Generate the SecurityToken
      √ Should register the ticker before the generation of the security token (155ms)
      1) Should generate the new security token with the same symbol as r

[2018-09-30 07:09] satyamakgec commented on #268
@samparsky Yes

[2018-09-30 07:21] satyamakgec commented on #293
Hey @tanpv, How do you run the `ganache-cli` on your local system? Please use this command to run the ganache - `npm run ganache-cli`.  The reason is custom block gas limit

[2018-09-30 08:27] tanpv commented on #293
Thanks @satyamakgec , Your solution work.

[2018-09-30 08:27] #293 closed, assigned to nobody

[2018-10-01 01:24] CPSTL commented on #267
@vyomshm Hello, just following up on when will you have a WIP PR by?

[2018-10-01 12:05] satyamakgec commented on #272
@vpanwar821 I don't think so we have to delete the whole blacklist type when addresses are associated with it. An issuer has the option to delete the blacklist for a particular `investor/affiliate` & An issuer can remove the blacklist type only when no address is associated with it.

[2018-10-01 12:17] vpanwar821 commented on #272
@satyamakgec Thanks for the information.

[2018-10-01 13:56] adamdossa opened #295 "Add string identifiers to Ether & ERC20 dividends"
We would need to have a `name` / `title` field on the dividends struct so they are better identifiable.

    struct Dividend {
      uint256 checkpointId;
      string name;
      ...
    }

When a dividend is created it should also require a name to be passed and event should emit that as well.

Relates to the `EtherDividendCheckpoint` and `ERC20DividendCheckpoint` modules.

[2018-10-01 16:31] CPSTL commented on #269
Hey @shanefontaine how are you doing with this task? Let us know if you have any more questions :)

[2018-10-01 16:48] vyomshm commented on #267
@CPSTL Yes, I'm still working on it. will submit a WIP PR in 3-4 days.

[2018-10-01 22:24] shanefontaine commented on #269
@CPSTL Great. I am almost complete. I have a few questions regarding testing, so I am setting up a time to chat with @satyamakgec. After our call, I should be able to complete it w/in 24 hours and I'll submit a PR.

[2018-10-02 18:16] #295 closed, assigned to maxsam4

[2018-10-03 14:30] PolymathTeam opened #306 "Fix redux states"
One of the biggest architectural issues of the current code is that state is coupled to ui. This is rarely the right thing to do. As an example, we can look at

[txModal's reducer ](https://github.com/PolymathNetwork/polymath-apps/blob/develop/packages/polymath-ui/src/components/TxModal/reducer.js) in `ui`. This reducer is tied to the transaction modal component, but it is handling the whole state

[2018-10-03 14:30] PolymathTeam opened #307 "Revisit production builds"
A sort of hacky fix (Setting `NODE_ENV` to development on build time) had to be put in place to allow production builds to work. This was merged in #45

This issue is for taking the time to look into this as a team and figure out how to deal properly with this issue.

[2018-10-03 14:30] PolymathTeam commented on #307
➤ Adrien Denat commented:

Would be a good idea to check at CRA as they are releasing v2 with Webpack4 + Babel7 support so our solution is probably there. Also they are dropping support for monorepo (bit scary for us) but I'm not sure what this means but worth having a look:
https://gist.github.com/gaearon/8650d1c70e436e5eff01f396dffc4114#monorepo-support-from-2x-alphas-was-removed-in-final-20

[2018-10-03 14:30] PolymathTeam commented on #307
➤ Rafael Vidaurre commented:

Definitely worth looking at!

[2018-10-03 14:30] PolymathTeam opened #308 "Unnecessary Signing"
We discussed this with [Adrien Denat](https://app.asana.com/0/788967010648807/list) and [Jeremias Diaz](https://app.asana.com/0/825626392840388/list), it seems that currently the authentication process in issuer is not being handled very efficiently:

- The only operations that should require signing a verification code from the user are the ones in which the user interacts with "offchain". Becaus

[2018-10-03 14:30] PolymathTeam commented on #308
➤ Thomas Borrel commented:

Agreed - We should already have an issue logged in Asana which speaks to the multi-signing.

[2018-10-03 14:30] PolymathTeam commented on #308
➤ Adrien Denat commented:

Also notice that this is not only for internal signing: this would also solve the fact that returning users have to sign-in again all the time they come back to the app (on page refresh as well).

[2018-10-03 14:30] PolymathTeam opened #309 "Set minimal verification rules (through eslint) for things prettier doesn't cover"
Pre-commit checker for eslint is still a good idea for specific rules like:

* Missing imports
* Using deprecated APIs

[2018-10-03 14:30] PolymathTeam commented on #309
➤ Adrien Denat commented:

CRA Webpack build script will break on CI if there is any Eslint warnings in the code as well.

[2018-10-03 14:30] PolymathTeam opened #310 "Revisit network state wrapper component"
This is a component we inherited from the `auth` repository. It conditionally renders children based on the state of the clients connection to the network.

Leaving this issue here as a reminder that we should have a look at this.

[2018-10-03 14:30] PolymathTeam opened #311 "Use HTTP status codes to handle errors in offchain endpoints"
Currently we are responding with an "error object". We should adhere of the HTTP standard and send status codes instead. This introduces potential breaking changes on the issuer app (which expects these error objects), so this should be tackled while we are refactoring issuer.

[2018-10-03 14:43] #306 closed, assigned to nobody

[2018-10-03 14:43] #307 closed, assigned to nobody

[2018-10-03 14:43] #308 closed, assigned to nobody

[2018-10-03 14:43] #309 closed, assigned to nobody

[2018-10-03 14:43] #310 closed, assigned to nobody

[2018-10-03 14:43] #311 closed, assigned to nobody

[2018-10-03 15:05] PolymathTeam opened #312 "unito test"
this is a test task

[2018-10-03 15:07] pabloruiz55 commented on #312
:)

[2018-10-03 17:28] #312 closed, assigned to pabloruiz55

[2018-10-03 19:06] shanefontaine commented on #269
@CPSTL @satyamakgec I am finishing it up now and will have a PR submitted soon. I apologize for the delay.

[2018-10-04 07:14] satyamakgec commented on #269
Cool no worries!. When you submit the PR then let me know so I can start the reviewing process.

[2018-10-05 03:42] shanefontaine commented on #269
PR has been [submitted](https://github.com/PolymathNetwork/polymath-core/pull/316/).

[2018-10-05 04:29] vpanwar821 commented on #272
I have submitted the PR [#289](https://github.com/PolymathNetwork/polymath-core/pull/289) and its review is in process.

[2018-10-05 13:24] vyomshm commented on #267
pre-empting gitcoin bot by posting this!

[2018-10-05 17:38] pabloruiz55 commented on #258
@CPSTL PR has been approved and merged. We are ready to award @subramanianv.
Thanks again for building this module with us @subramanianv ! Looking forward to see you tackling future bounties. 🤗

[2018-10-05 17:41] subramanianv commented on #258
@pabloruiz55 @satyamakgec Thanks for all the help and patience. Looking forward to work on more bounties in the future

[2018-10-05 18:12] CPSTL commented on #258
@subramanianv @pabloruiz55 Paid! Thank you for your work :)

[2018-10-08 18:28] shanefontaine commented on #269
I have submitted a PR.

[2018-10-09 06:14] vpanwar821 commented on #272
Yes,I have submitted the PR #289 and its review is in process.

[2018-10-09 13:36] CPSTL commented on #272
Thanks @vpanwar821 for your patience here. We are still reviewing.

[2018-10-10 19:54] vyomshm commented on #267
Yes

[2018-10-13 17:29] satyamakgec commented on #258
resolved by PR #262

[2018-10-13 17:29] #258 closed, assigned to nobody

[2018-10-13 17:29] satyamakgec commented on #287
resolved by PR #290

[2018-10-13 17:29] #287 closed, assigned to nobody

[2018-10-13 18:20] shanefontaine commented on #269
I have submitted a PR.

[2018-10-13 22:27] vyomshm commented on #267
preempting gitcoin bot by posting this.

[2018-10-14 14:10] tanpv opened #341 "Should add "amount" to "alreadyWithdrawn", not add "tokenSums[0]""
File : LockupVolumeRestrictionTM.sol
Function : _checkIfValidTransfer
Original code add "tokenSums[0]" to "alreadyWithdrawn". This logic seem wrong, here we only use "tokenSums[0]" to make sure transfer could happen, but the real transfer is "amount", so here should add "amount" to "alreadyWithdrawn".

            // subtract amounts so they are now known to be withdrawen
            for (i = 0; i

[2018-10-15 01:41] rmshea commented on #268
Hey @CPSTL, Ryan from Gitcoin, checking in here. Looks like @samparsky submitted a PR last week. Have you had a chance to take a look at it? Let me know if you have any questions. :)

[2018-10-15 04:33] tanpv commented on #341
The original logic should be correct, I just be confused by field name "alreadyWithdrawn", this sould be "alreadyReleasedFromLock"

[2018-10-15 04:33] #341 closed, assigned to nobody

[2018-10-15 13:48] CPSTL commented on #268
Hey @ryan-shea @samparsky! We are still reviewing it :)

[2018-10-15 17:45] vyomshm commented on #267
@CPSTL @satyamakgec Please review my PR #320

[2018-10-17 08:52] tanpv opened #346 "Add getCurrentMaxAllowTransfer to ITransferManager"
### Problem
- ITransferManager lack of function which return max amount of token which allow
transfer from one investor to other investor at a specific moment of time

- Use this function investor could transfer easily without need to guess
how much they could transfer at current time

### Solution
- Define function _getCurrentMaxAllowTransfer_ in side _ITransferManager_
- Each transfer manager mo

[2018-10-21 16:04] samparsky commented on #269
@shanefontaine You have to submit the PR on gitcoin via `submit task` for the bot to stop commenting

[2018-10-26 16:10] adamdossa opened #389 "Audit Issue - LockupVolumeRestrictionTM.sol"
The following scenario still breaks the intended behavior of LockupVolumeRestrictionTM, "Lock 3 wei, wait for two to be unlocked but transfer only one, then wait for the final one to unlock and try to transfer the remaining two, this should be possible but isn't". Though the contract is currently not meant for production, this test case should be documented for future reference.

[2018-10-26 18:49] vyomshm commented on #267
yes.

[2018-11-09 15:59] adamdossa commented on #389
@satyamakgec Trying to understand this bug a bit more...

AFAICT, in this scenario:

`uint elapsedPeriods = (now.sub(lockUps[userAddress].startTime)).div(lockUps[userAddress].releaseFrequencySeconds);`
=> `elapsedPeriods == 3`
`uint allowedAmount = amountPerPeriod.mul(elapsedPeriods).sub(lockUps[userAddress].alreadyWithdrawn);`
=> `allowedAmount == 3 - 1 == 2`

So you would be able to withdraw the

[2018-11-13 11:57] satyamakgec commented on #389
I don't think so, It is working as intended

[2018-11-13 16:01] ghost opened #411 "verifyTransfer returns false if all modules return Results.NA"
The latest verifyTransfer function in SecurityToken.sol is as follows :
[code]

I am not sure if I am missing anything out in my understanding, however if here we assume checkGranularity passes and transfers are not frozen, then based on the code if all the modules attached to the security token return are all unarchived and return Result.NA, then
[code]
will return false, which would make the tra

[2018-11-13 17:19] adamdossa commented on #411
Hi @xAffinity - thanks for diving into the code!

The behaviour you described is intentional. If there are TransferManager modules attached to the token, we require at least one module to give a positive response in order for the transfer to be valid.

As an example, the GeneralTransferManager will return VALID if an address appears on it's whitelist, but NA if an address doesn't appear on the whi

[2018-11-14 02:24] ghost commented on #411
Hi @adamdossa , thanks for your detailed explanation.

You mentioned in your response:

However, in the verifyTransfer method in CountTransferMethod.sol below :
[code]
CountTransferManager never returns Result.VALID, so in a case it is the only module or with other modules which all return NA, and hence would make transfers fail even if they should respect the CountTransfer rules.

I understand yo

[2018-11-14 02:58] monitz87 opened #412 "Transfer and Approve event naming inconsistencies"
I found an inconsistency in the naming of the `Transfer` and `Approval` event parameters between `PolyToken` and `PolyTokenFaucet`. In `PolyTokenFaucet` all parameters are prefaced by an underscore (i.e. `_from`, `_to`, `_value`), while in `PolyToken` they are not. This causes inconsistent behavior when switching between mainnet and kovan in the dApp.

I suggest renaming the PolyToken event parame

[2018-11-14 04:00] maxsam4 commented on #412
Can't change `PolyToken` as it's live on mainnet. I'll refactor `PolyTokenFaucet`.

[2018-11-14 04:13] monitz87 commented on #412
I understand, wasn't really thinking when I suggested it haha

[2018-11-14 04:56] maxsam4 commented on #412
ERC20 standard defines the event parameter names with underscores.

Refactoring of `PolyTokenFaucet` depends on what OpenZeppelin decides to do
https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1175

[2018-11-14 07:17] ghost commented on #411
@adamdossa

I think I see it now. The logic implemented assumes that by default GTM is attached to the SecurityToken(as expected from comments in STFactory.sol) , then any verifyTransfer will return Result.VALID if allowAllTransfers is true, and the addresses are on the whitelist and satisfy the TimeRestrictions.  So the GTM is essentialy a 'key module' among all modules to ensure basic whitelist

[2018-11-14 07:21] #411 closed, assigned to nobody

[2018-11-16 22:05] greenkeeper[bot] opened #417 "An in-range update of ganache-cli is breaking the build 🚨"
## The devDependency [ganache-cli](https://github.com/trufflesuite/ganache-cli) was updated from `6.1.8` to `6.2.0`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fganache-cli-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ganache-cli is a d

[2018-11-19 16:34] steventranjs opened #418 "SecurityToken:addModule "Module exists" exception will never happen!!!"
**Suspected Problem**
Below lines are inside `SecurityToken:addModule` function:
[code]
- As `moduleFactory.deploy(_data)` always return a new contract address which is subsequently added as new key of `modulesToData`. Therefore, the `require` checking condition will never meet.
- This will results duplicated added modules if this function  `SecurityToken:addModule` is accidentally called twice or

[2018-11-19 17:19] adamdossa commented on #418
Hey @steventranjs - thanks very much for taking a look at this code - interesting observation!

Our current thinking is that `moduleFactory.deploy(_data)` may not always return a newly generated contract address each time it is called. For example there may be a module where the associated factory is a "singleton factory" - i.e. the underlying module contract is shared across multiple tokens that

[2018-11-19 17:31] steventranjs commented on #418
Thanks @adamdossa for your explanation, appreciate your points of singleton factory & duplicate modules for diff investors. This all make sense to me.

In addition, I think it will be good if we can have a `SecurityTokenExample` with non-duplicated `_moduleFactory` feature as I mentioned above. This will help in some use cases.

For example, I can deploy new `ModuleFactory` address (of the same ex

[2018-11-20 16:56] satyamakgec opened #423 "add non-zero address check in modifyWhitelist() of GTM"
I don't know why we keep as it is or why auditors did not point on this? or I am missing something

### Possible Implementation
add `require(_investor != address(0));`

[2018-12-03 15:08] #389 closed, assigned to nobody

[2018-12-06 04:43] ghost opened #456 "Potential Bug in ManualApprovalTransferManager"
Hi,

I was looking through the ManualApprovalTransferManager code and was just wondering if

https://github.com/PolymathNetwork/polymath-core/blob/12b16806de543fe041627bb5d5547af82b05150b/contracts/modules/TransferManager/ManualApprovalTransferManager.sol#L98-L103

should   ```return Result.ForceValid``` instead of ```Result.Valid```.

https://github.com/PolymathNetwork/polymath-core/blob/12b16806

[2018-12-14 21:39] greenkeeper[bot] opened #474 "An in-range update of ethers is breaking the build 🚨"
## The dependency [ethers](https://github.com/ethers-io/ethers.js) was updated from `4.0.18` to `4.0.19`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fethers-4.0.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ethers is a direct dependency of

[2018-12-15 01:56] maxsam4 commented on #474
Ethers update does not have any breaking changes. Build is failing because these branches are created off master and circle config hasn't been merged into master yet. Closing.

[2018-12-15 01:56] #474 closed, assigned to nobody

[2018-12-15 09:35] greenkeeper[bot] opened #475 "An in-range update of ethers is breaking the build 🚨"
## The dependency [ethers](https://github.com/ethers-io/ethers.js) was updated from `4.0.19` to `4.0.20`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fethers-4.0.20).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ethers is a direct dependency of

[2018-12-15 22:11] #206 closed, assigned to nobody

[2018-12-18 05:31] maxsam4 commented on #475
Resolved, closing.
Problem was that circleci config wasn't merged yet.

[2018-12-18 05:31] #475 closed, assigned to nobody

[2018-12-18 09:21] adamdossa commented on #456
Hey @xAffinity - thanks for looking at this.

This is by design - the MATM is allowed to override TransferManagers that return NA (e.g. the GeneralTransferManager if addresses are not on it's list), but not override a TM that returns INVALID (e.g. if an address has traded over its volume restriction in the VolumeRestrictionTM).

For transfers that really need to be forced through, regardless of an

[2018-12-18 09:21] #456 closed, assigned to nobody

[2018-12-18 09:25] adamdossa commented on #418
Hi @steventranjs - we are refactoring our module factories in the next major release to allow in-place upgrades of underlying module code. I think it is easier, when adding multiple instances of the same factory, to simply recall the deploy function of the module factory rather than having to redeploy a new factory (which could effect all security tokens).

[2018-12-18 09:25] #418 closed, assigned to nobody

[2018-12-18 09:27] adamdossa commented on #346
Hi @tanpv - thanks for the suggestion. We are aiming to tackle this using ERC-1410 to record the amount of unlocked tokens. This is scheduled tentatively for version 3.0 of the protocol.

[2018-12-18 09:27] #346 closed, assigned to nobody

[2018-12-19 06:01] maxsam4 opened #483 "Eternal storage redundant functions"
There are a few redundant functions in the [eternal storage contract](https://github.com/PolymathNetwork/polymath-core/blob/master/contracts/storage/EternalStorage.sol)
like
[code]
and
[code]
The internal functions can be removed and code can be refactored to use the public function instead.

[2018-12-19 06:06] maxsam4 opened #484 "Eternal Storage missing public functions"
In the [eternal storage contract](https://github.com/PolymathNetwork/polymath-core/blob/master/contracts/storage/EternalStorage.sol), There are public functions for getting Elementary Data Type variables like uint but the functions to get Arrays are marked internal. Those functions can also be useful to outside world and should be marked public.

functions like
[code]
should become
[code]

[2018-12-19 08:17] maxsam4 commented on #417
Will be doing an overall dependency clean up soon.

[2018-12-19 08:17] #417 closed, assigned to nobody

[2018-12-19 08:19] maxsam4 commented on #423
fixed in https://github.com/PolymathNetwork/polymath-core/pull/443

[2018-12-19 08:19] #423 closed, assigned to nobody

[2018-12-19 08:20] maxsam4 commented on #412
Fixed in https://github.com/PolymathNetwork/polymath-core/pull/480

[2018-12-19 08:20] #412 closed, assigned to maxsam4

[2018-12-20 10:28] dev1644 commented on #484
I am working on it.

[2018-12-20 10:28] dev1644 commented on #483
I am working on it.

[2018-12-22 04:05] maxsam4 commented on #484
Closed by https://github.com/PolymathNetwork/polymath-core/pull/488
Thank you @dev1644 for your contribution.

[2018-12-22 04:05] #484 closed, assigned to nobody

[2018-12-22 04:05] maxsam4 commented on #483
Closed by https://github.com/PolymathNetwork/polymath-core/pull/488
Thank you @dev1644 for your contribution

[2018-12-22 04:05] #483 closed, assigned to nobody

[2018-12-25 10:37] greenkeeper[bot] opened #496 "An in-range update of solium is breaking the build 🚨"
## The devDependency [solium](https://github.com/duaraghav8/Ethlint) was updated from `1.1.9` to `1.1.10`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fsolium-1.1.10).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

solium is a devDependency of thi

[2018-12-30 10:15] F-OBrien opened #497 "USDTieredSTO minToken check is after tokens are already minted"
I could be very wrong on this but wanted to highlight a potential issue in the USDTieredSTO.sol in Dev 2.1.0 branch.

In both the buyWithETHRateLimited and _buyWithTokens functions the check that the minimum number of tokens has been minted occurs after the _buyTokens function. As tokens are already minted  it is possible for tokens to be issued to the investor and the transaction to revert.
(curr

[2018-12-30 11:32] adamdossa commented on #497
Hey @F-OBrien - firstly thanks for reviewing the code - it's always great to have active members of the community looking at the code in detail!

I may have mis-understood the concern, but when a transaction reverts (i.e. in the line:
`require(getTokensMinted().sub(initialMinted) >= _minTokens, "Insufficient tokens minted");`
all of the effects of the transaction are reverted.

So in this case, if

[2018-12-30 11:40] F-OBrien commented on #497
Ah cool that explains that one. I'm not a dev so just learning and as I was reading I thought the order of the check relative to the minting may have mattered but looks like it doesn't.

[2018-12-30 11:40] #497 closed, assigned to nobody

[2019-01-04 10:55] abdulwahidgul24085 opened #506 "ST-20 Live website page broken"
Hello, I was reading your website and end up on the ST-20 page. https://polymath.network/resources/st20.html

 This page is completely broken. I have attached a picture of the view from my computer for reference.

![polymath error](https://user-images.githubusercontent.com/6042059/50684950-33380380-1039-11e9-9d20-2eea48c73660.png)

[2019-01-08 05:31] satyamakgec commented on #272
Closing in the favor of #289

[2019-01-08 05:31] #272 closed, assigned to nobody

[2019-01-08 05:34] satyamakgec commented on #269
closing in the favor of #422

[2019-01-08 05:34] #269 closed, assigned to nobody

[2019-01-08 05:35] satyamakgec commented on #267
closing in the favor of #421

[2019-01-08 05:35] #267 closed, assigned to nobody

[2019-01-08 05:36] satyamakgec commented on #268
closing in the favor of #421

[2019-01-08 05:36] #268 closed, assigned to nobody

[2019-01-08 05:37] satyamakgec commented on #251
closing in the favor of #252

[2019-01-08 05:37] #251 closed, assigned to satyamakgec

[2019-01-08 13:27] maxsam4 commented on #506
@abdulwahidgul24085 Thanks for reporting this issue!
The updated link is https://polymath.network/st20.html

We have also fixed our 404 responses to look better.

[2019-01-08 13:27] #506 closed, assigned to nobody

[2019-01-08 13:35] maxsam4 commented on #496
false alarm.

[2019-01-08 13:35] #496 closed, assigned to nobody

[2019-01-12 23:46] AlexejShevchenko opened #517 "adjustCheckpoints after mint or burn"
In SecurityToken.sol line 504 (adjusts totalSupply at checkpoint AFTER  minting or burning tokens) but it is called on lines 683 and 726 BEFORE change totalSupply_

For example,
checkpoint  = 0
checkpoint value  = 0
total supply = 0

Somebody buy 100 tokens. checkpoint value = 0, total supply = 100
Somebody buy 200 tokens. checkpoint value = 100, total supply = 300
We create a new checkpoin. Remem

[2019-01-14 11:05] maxsam4 commented on #517
@AlexejShevchenko Thanks for trying out our Security token!
I just tried playing with checkpoints and they seemed to be functioning fine. There are two things that might have went wrong with your test:
1) Your create checkpoint transaction got mined before the other person's buy token transaction.
2) You are using incorrect checkpoint ID. Checkpoints start with Checkpoint ID 1 and not 0.

If you t

[2019-01-14 12:27] AlexejShevchenko commented on #517
I'm not testing token yet, I'm just read a code of contracts.
Line 502

As I understand, this function should be called AFTER totalSupply changes
But it is called on lines 683 and 726 BEFORE change totalSupply_

[2019-01-14 12:37] maxsam4 commented on #517
@AlexejShevchenko `adjustTotalSupplyCheckpoints()` is used to update last created checkpoint (if it hasn't been updated yet). Hence, It is called before updating `totalSupply`.

When a checkpoint is created, total supply and balances are not snapshotted instantly. They are stored in the next transaction and hence they need to be stored before the total supply is updated by that transaction. We'll

[2019-01-14 12:38] #517 closed, assigned to nobody

[2019-01-14 12:50] adamdossa commented on #517
Thanks @AlexejShevchenko for reviewing this. We have fixed the comments in 2.1 version of the code!
https://github.com/PolymathNetwork/polymath-core/pull/519

[2019-01-14 12:58] adamdossa opened #520 "Move `_adjustTotalSupplyCheckpoints` inside of `createCheckpoint`"
[in the dev-3.0.0 branch]

Currently we call `_adjustTotalSupplyCheckpoints` every time there is an operation that mints or burns tokens. However, in practice this will always be a no-op due to:
[code]
in TokenLib.sol, unless a new checkpoint has been created since the last mint / burn operation.

It would be more efficient (in terms of gas consumption) to do this inside of the `createCheckpoint`

[2019-01-14 13:39] dev1644 commented on #520
I am working on it.

[2019-01-18 07:01] maxsam4 commented on #520
Fixed by #523

[2019-01-18 07:01] #520 closed, assigned to nobody

[2019-01-24 11:04] F-OBrien opened #532 "Feature: Can Buy Form STO in STO contracts"
### Is your feature request related to a problem?
Currently the `canBuyFromSTO` check is implemented in the general transfer manager and not the STO contracts. Every transfer will check if a STO module is attached and if the tokens are from address zero (being minted). If both these are true the contract checks if the investor is allowed to receive the tokens based on the investors `canBuyFromSTO`

[2019-01-25 17:33] adamdossa opened #535 "Review tokensMinted vs. totalTokensSold to optimise"
F-OBrien 24 minutes ago
Optimization Suggestion?
I could be wrong here but is there a logic to using tokensMinted instead of totalTokensSold? Are they not essentially the same thing? totalTokensSold only seems to be update after the STO is finaliszed. Instead there currently is an additional function that regularly calculates tokensMinted. If totalTokensSold was update as tokens were minted instea

[2019-02-15 01:43] greenkeeper[bot] opened #556 "An in-range update of request-promise is breaking the build 🚨"
## The dependency [request-promise](https://github.com/request/request-promise) was updated from `4.2.2` to `4.2.3`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fdefault%2Frequest-promise-4.2.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

requ

[2019-02-20 13:19] #556 closed, assigned to nobody

[2019-02-21 03:17] wjmelements opened #565 "Rename Mint and Burn events to match OpenZeppelin"
The [OpenZeppelin](https://docs.openzeppelin.org/docs/token_erc20_mintabletoken) token uses events called `Mint` and `Burn`, analogous to your `Minted` and `Burnt`. The scheme is also used by TrueUSD. Adopting their naming scheme would facilitate compatibility.

[2019-02-21 03:22] wjmelements commented on #565
### Uses Burn and Mint

OpenZeppelin:
https://docs.openzeppelin.org/docs/token_erc20_burnabletoken
https://docs.openzeppelin.org/docs/token_erc20_mintabletoken

TrustToken (TUSD):
https://github.com/trusttoken/trueUSD/blob/master/contracts/modularERC20/ModularBurnableToken.sol

Centre (USDC):
https://github.com/centrehq/centre-tokens/blob/master/contracts/FiatTokenV1.sol

### Others

As a countere

[2019-02-21 05:11] maxsam4 commented on #565
@wjmelements Thanks for looking into our codebase!

In our latest dev branch (dev-3.0.0) we have decided to use event names set in [IERC1400](https://github.com/ethereum/EIPs/issues/1400) family. More specifically, `Minted` is now `Issued` and `Burned` is now `Redeemed`. These are part of [IERC1594](https://github.com/ethereum/EIPs/issues/1594) and we believe that they represent the Security token

[2019-02-21 05:20] wjmelements commented on #565
Thanks for your reply. If EIP1594 goes through, we may consider upgrading our events to match. Thanks for caring about open standards!

[2019-02-21 05:20] #565 closed, assigned to nobody

[2019-03-06 15:26] VictorVicente opened #586 "Store and use factory addresses from module registry without depending on name"
See https://github.com/PolymathNetwork/polymath-core/pull/585

It is fixed for dividends modules, but it should be fixed too for the others.

[2019-03-18 17:21] greenkeeper[bot] opened #605 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.2` to `5.15.3`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Feslint-5.15.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this pr

[2019-03-19 03:50] #605 closed, assigned to nobody

[2019-04-01 06:56] blockchain-app12 opened #624 "Error in Security Token Offering step."
While calling addModule in security token, I encrypted 5 arguments for data parameter, and factory address as given address. Here after calling the function I am getting an error.

I am following https://blog.polymath.network/the-ultimate-guide-on-how-to-launch-a-security-token-with-polymath-part-3-a9b4146a2272.

Need clear steps for this process.

[2019-04-01 07:49] maxsam4 commented on #624
@osiz-blockchainapp Thanks for playing with our code! Sorry about the inconvenience. That article is old and contains outdated information.

The new function signature of addModule is
[code]
As you can see, it has only 4 parameters now. The new capped STO factory address is available on https://github.com/PolymathNetwork/polymath-core

Also, you need to approve 20000 poly transfer for the fees bef

[2019-04-05 04:02] joequant opened #630 "Migration failure with truffle 0.5.0"
Getting failures running truffle migrate with 0.5.0

First truffle-config should explicitly put the compiler version as there are solidity 0.5.0 issues

There are some type conversion errors which can be fixed by explicit casting

[code]

But there is another error I can't seem to figure out

[code]

[2019-04-05 04:22] maxsam4 commented on #630
By default, we use the native solc installed on your machine as it is 10 times faster than solcjs (in dev-3.0.0 branch and onwards). You can configure truffle config to use solcjs if you have an incompatible version of native solc on your machine. Perhaps we should document this better.

This is because some web3 versions behave differently than others. I recommend that you run `yarn install` and

[2019-04-05 04:44] joequant commented on #630
Running master

[2019-04-05 05:00] joequant commented on #630
Found the problem
at returns a promise and not a value.

Putting in some fixes.

[2019-04-05 05:03] maxsam4 commented on #630
We don't support Truffle 5.X on the master branch yet. To use truffle on master branch, install truffle 4.X and other dependencies locally using `yarn install` and then you can use truffle locally via
`node_modules/.bin/truffle compile`
`node_modules/.bin/truffle test`
`node_modules/.bin/truffle migrate`
etc

Our development branch `dev-3.0.0` uses truffle 5.X and we'll eventually merge it in mast

[2019-04-05 05:07] maxsam4 commented on #630
@joequant Thanks for your efforts but we would like to avoid changing dependencies in the master branch. We want to keep master branch such that it represents the current state of deployed contracts. This is not the only change that Truffle 5 has. None of our tests will work if you use Truffle 5.X on master as truffle 5.x uses web3 1.0 while truffle 4 uses web3 0.20 and our test cases in master br

[2019-04-05 05:45] joequant commented on #630
OK Thanks for the info.  Will work on dev-3.0.0 then

[2019-04-05 05:48] maxsam4 commented on #630
Closing this Issue now. Feel free to reopen or file a new Issue if you face any other problem.

[2019-04-05 05:48] #630 closed, assigned to nobody

[2019-04-12 23:10] greenkeeper[bot] opened #647 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.16.4` to `1.17.0`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fprettier-1.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency

[2019-04-13 03:02] #647 closed, assigned to nobody

[2019-04-15 05:12] maxsam4 commented on #624
Closing this Issue due to inactivity. Feel free to reopen or create a new Issue if you have any more questions/concerns.

[2019-04-15 05:12] #624 closed, assigned to nobody

[2019-04-15 06:46] blockchain-app12 opened #648 "Need Documentation"
Is there any documents to play around given multiple contracts? Its hard to find usage of every single contract.

[2019-04-16 13:44] adamdossa commented on #207
Addressed in dev-3.0.0

[2019-04-16 13:44] #207 closed, assigned to nobody

[2019-04-16 13:44] adamdossa commented on #208
Addressed in dev-3.0.0

[2019-04-16 13:44] #208 closed, assigned to nobody

[2019-04-17 04:19] maxsam4 commented on #648
There is some documentation available on the GitHub wiki https://github.com/PolymathNetwork/polymath-core/wiki

We are working on adding more.

[2019-04-21 10:29] joequant opened #653 "Extend CLI to be middleware server and create web ui layer"
## Issue Template

Please use this template when submitting issues to this repo

### Is your feature request related to a problem? Please describe.

The CLI interface is a very nice interface to polymath features, and it can be
extended to create an integration layer for financial institution systems, or to
generate an open source UI system.

Most financial institutions have existing legacy system

[2019-04-21 10:38] joequant opened #654 "CLI system does not work with docker container networks"
I've created a set of docker images on joequant/sto.  Right now the CLI can connect either to a remote node or a ganache-cli running on localhost.  However, docker networking puts the ganache-cli server on a separate container which is accessed by a name which does not have the naming format for remote nodes.

For example, if I start up ganache-cli on a docker image, I need to connect to the node

[2019-04-21 11:10] satyamakgec commented on #654
@joequant  Thanks, It is a useful improvement. If you want to add this feature then please create a PR otherwise we will add this on CLI backlog.

[2019-04-21 17:16] joequant commented on #654
Sure.  Working on it.  Right now I'm trying to get the CLI to work with
docker images.  Running into a lot of interface issues, but will send
in pull requests as I get through them.  The work flow right now is, run
the CLI get an error.  Figure out what is causing the error, and
repeat until I get it working.

On Sun, Apr 21, 2019 at 7:10 PM Satyam Agrawal <notifications@github.com>
wrote:

[2019-04-22 09:39] satyamakgec commented on #654
Please try to take a code of `dev-2.1.0` branch because in `dev-3.0.0` CLI is not in sync with the smart contract changes.

[2019-04-22 10:16] blockchain-app12 commented on #648
I wish to know which country's regulation is polymath following  to launch a security token?

[2019-04-29 05:33] joequant opened #660 "polymath cli triggers ganache-cli bug in 6.4.3 causing crash in ganache"
Creating an ST20 token 2.2.0 CLI and with ganache 6.4.3 backend causes the ganache backend to crash with this bug

https://github.com/trufflesuite/ganache-core/issues/417

Downgrading to 6.2.5 will work.  It might be a good idea to check the version of ganache and then return an warning.

[2019-04-29 06:09] maxsam4 commented on #660
@joequant We can not guarantee compatibility with each and every version of every dependency. Sometimes other dependencies have some bugs, sometimes they change their APIs. Please use the versions locked in `yarn.lock`.

If you run `yarn install`, yarn will automatically install the proper dependency versions in the local node_modules folder and our scripts will then use those.

[2019-04-29 07:55] joequant commented on #660
The problem isn't in polymath but rather that polymath triggers a bug in the external ganache-cli server that causes a crash.  Running yarn won't fix the issue since the ethereum server is running external to polymath.

[2019-04-29 08:04] maxsam4 commented on #660
@joequant I really appreciate you playing around our repo!

ganache-cli is an npm package and running yarn will install the version of ganache-cli that has been tested with our repo. You can then run it from `./node_modules/.bin/ganache-cli`.

As you mentioned, the problem isn't in polymath and It's not something we can fix. Please try to understand that we can't add warnings about every nonworkin

[2019-04-29 16:12] #660 closed, assigned to nobody

[2019-04-30 03:07] joequant opened #662 "Add development process information onto wiki"
Need to add some basic information into the wiki about which development branches do what.

For example, it is useful information that the dev-3.0.0 branch works against solidity 0.5.0 and that master should be done against 0.4.0

I can volunteer to collate this information

[2019-05-08 15:23] VictorVicente commented on #654
Hey @joequant, does your PR (https://github.com/PolymathNetwork/polymath-core/pull/669) solve this issue? It has been merged into master.
BTW, error handling is one of the biggest pending tasks on the CLI. We will work on it in the near future to show more accurate messages to the user.

[2019-05-08 15:39] VictorVicente commented on #653
This is a great idea we have already discussed it and maybe we could implement in the future. Meanwhile we are developing the necessary tools to make it happen.
Current CLI needs a lot of work to support any change on our contracts. To solve this we split the work in different levels.
The first layer are our contracts, or the JSON output when they are compiled. We create a new repo containing them

[2019-05-08 16:01] #653 closed, assigned to nobody

[2019-06-07 04:30] dev1644 commented on #586
Hi @VictorVicente , does this issue still require some work?

[2019-06-07 13:37] ross-rosario opened #711 "v3.0: add generateNewSecurityToken() to ISecurityTokenRegistry"
**Note** This is in `dev-3.0.0` branch

Unlike `generateSecurityToken()`, the new `generateNewSecurityToken()` is not present in `ISecurityTokenRegistry` interface. That requires using two separate ABI while interacting with the smart contract, one for calls and the other for transactions.

Thanks

[2019-06-07 13:41] ross-rosario commented on #711
On closer inspection, I realized that the issue is going to be fixed in #682, but we can keep this issue for tracking purposes. I'll close it as soon as the PR is merged.

[2019-06-07 15:57] greenkeeper[bot] opened #712 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.18.1` to `1.18.2`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fprettier-1.18.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency

[2019-06-13 14:26] greenkeeper[bot] opened #717 "An in-range update of ganache-cli is breaking the build 🚨"
## The devDependency [ganache-cli](https://github.com/trufflesuite/ganache-cli) was updated from `6.4.3` to `6.4.4`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fganache-cli-6.4.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ganache-cli is a d

[2019-06-14 13:43] adamdossa commented on #711
PR is merged.

[2019-06-14 13:43] #711 closed, assigned to nobody

[2019-06-14 13:44] adamdossa commented on #648
The ST20 framework is modular and intended to be flexible enough to be able to be used across many different jurisdictions. We have a range of compliance modules available (TransferManagers) - is there something which you think is needed for your jurisdiction which is not currently available?

[2019-06-14 13:45] #535 closed, assigned to nobody

[2019-06-15 12:58] #717 closed, assigned to nobody

[2019-06-15 12:58] #712 closed, assigned to nobody

[2019-07-19 22:36] greenkeeper[bot] opened #760 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.18.1` to `2.18.2`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Feslint-plugin-import-2.18.2).

This version is **covered** by your **current version range** and after updating it in your project **the build fa

[2019-07-22 05:49] #760 closed, assigned to nobody

[2019-07-31 17:50] greenkeeper[bot] opened #778 "An in-range update of table is breaking the build 🚨"
## The dependency [table](https://github.com/gajus/table) was updated from `5.4.4` to `5.4.5`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fdefault%2Ftable-5.4.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

table is a direct dependency of this

[2019-08-12 02:15] YukinoriHamada opened #787 "New STO modules can not be attached in polymath-core-dev-3.0.0 ."
I want to "Add new STO module". I had done several commands but finally Error happed. Why? Please tell me correct inputs that I should enter. I think that  in `Enter a label to help you to identify this module: `  What kind of labels I must enter is unclear .

[code]

[2019-08-12 02:36] YukinoriHamada commented on #787
I solve above problem!
I should enter Large character (eg, `A`) in `Enter a label to help you to identify this module: ` , then I got CappedSTO deployed!

[2019-08-12 12:36] VictorVicente commented on #787
Thank you @YukinoriHamada for reporting this problem. I'll fix it avoiding an empty input for the module label.

[2019-08-12 12:44] #787 closed, assigned to nobody

[2019-08-13 13:39] #778 closed, assigned to nobody

[2019-08-18 23:18] greenkeeper[bot] opened #792 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.1.0` to `6.2.0`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Feslint-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this proje

[2019-08-22 06:33] #792 closed, assigned to nobody

[2019-08-27 17:36] greenkeeper[bot] opened #800 "An in-range update of eth-gas-reporter is breaking the build 🚨"
## The devDependency [eth-gas-reporter](https://github.com/cgewecke/eth-gas-reporter) was updated from `0.2.10` to `0.2.11`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Feth-gas-reporter-0.2.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eth-

[2019-09-05 13:35] VictorVicente commented on #586
Sorry @dev1644, it's already solved 👍
Thank you!

[2019-09-05 13:35] #586 closed, assigned to nobody

[2019-09-05 13:35] #654 closed, assigned to nobody

[2019-09-11 11:10] pabloruiz55 opened #812 "[WIP] Audit of Partial Restricted Transfer Manager Module"
**THIS IS A DRAFT**

Purpose of the module is to control the number of Investors (critical for non-reporting entities who may be limited to 50 Investors in some jurisdictions). An Investor looking to sell their Security Tokens may be forced to sell ALL their security tokens in one singular operation so that the total number of Investors does not increase (and may decrease).

When enabled, this mod

[2019-09-16 20:04] larrycameron80 opened #813 "Denial of Service (DoS) Vulnerability"
Denial of Service (DoS)
Vulnerable module: mem
Introduced through: solc@0.5.8
Detailed paths
Introduced through: polymath-core@PolymathNetwork/polymath-core#3a267ea44a549b7b31942daa6025b1d41189548d › solc@0.5.8 › yargs@11.1.0 › os-locale@2.1.0 › mem@1.1.0
Remediation: Upgrade to solc@0.5.11.
Overview
mem is an optimization used to speed up consecutive function calls by caching the result of calls

[2019-09-16 20:04] larrycameron80 opened #814 "Insecure Credential Storage Vulnerability"
Insecure Credential Storage
Vulnerable module: web3
Introduced through: web3@1.2.1, solidity-coverage@0.6.7 and others
Detailed paths
Introduced through: polymath-core@PolymathNetwork/polymath-core#3a267ea44a549b7b31942daa6025b1d41189548d › web3@1.2.1
Introduced through: polymath-core@PolymathNetwork/polymath-core#3a267ea44a549b7b31942daa6025b1d41189548d › solidity-coverage@0.6.7 › web3@1.2.1
Intr

[2019-09-17 09:11] maxsam4 commented on #813
@larrycameron80 Thanks for opening up an issue.

The vulnerability in question is not relevant to this repo. mem package is used to speed up compilation by solc and not as a public-facing cache in this repo.

[2019-09-17 09:11] #813 closed, assigned to nobody

[2019-09-17 09:15] maxsam4 commented on #814
We don't use web3 as a Keystore and hence this vulnerability is not relevant to us. Thanks for raising a concern, though. We are always working on improving security.

[2019-09-17 09:15] #814 closed, assigned to nobody

[2019-09-17 09:17] #800 closed, assigned to nobody

[2019-09-30 07:11] greenkeeper[bot] opened #824 "An in-range update of eth-gas-reporter is breaking the build 🚨"
## The devDependency [eth-gas-reporter](https://github.com/cgewecke/eth-gas-reporter) was updated from `0.2.11` to `0.2.12`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Feth-gas-reporter-0.2.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eth-

[2019-10-10 18:33] greenkeeper[bot] opened #830 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.6.3` to `7.6.4`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fmonorepo.babel7-20191010144043).

This version is **covered** by your **current version range** and after

[2019-10-29 17:46] greenkeeper[bot] opened #838 "An in-range update of web3-provider-engine is breaking the build 🚨"
## The dependency [web3-provider-engine](https://github.com/MetaMask/web3-provider-engine) was updated from `15.0.3` to `15.0.4`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fweb3-provider-engine-15.0.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-10-30 12:32] satyamakgec commented on #532
Closing as it is already mitigated in the 3.0.0 release

[2019-10-30 12:32] #532 closed, assigned to nobody

[2019-10-30 12:34] satyamakgec commented on #648
No more requirement comes up from the author, Closing this issue

[2019-10-30 12:34] #648 closed, assigned to nobody

[2019-10-30 12:35] satyamakgec commented on #662
Now master and development branch both works on 0.5.8 solidity version

[2019-10-30 12:35] #662 closed, assigned to nobody

[2019-10-30 12:36] #824 closed, assigned to nobody

[2019-10-30 12:36] #830 closed, assigned to nobody

[2019-10-30 12:36] #838 closed, assigned to nobody

[2019-10-31 23:23] greenkeeper[bot] opened #844 "An in-range update of truffle is breaking the build 🚨"
## The dependency [truffle]() was updated from `5.0.42` to `5.0.43`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Ftruffle-5.0.43).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

truffle is a direct dependency of this project, and **it is very like

[2019-11-24 14:42] greenkeeper[bot] opened #859 "An in-range update of ethers is breaking the build 🚨"
## The dependency [ethers](https://github.com/ethers-io/ethers.js) was updated from `4.0.39` to `4.0.40`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fdefault%2Fethers-4.0.40).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ethers is a direct depe

[2019-12-20 21:55] greenkeeper[bot] opened #872 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.7.2` to `6.8.0`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Feslint-6.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this proje

[2020-01-07 22:23] greenkeeper[bot] opened #876 "An in-range update of sol-merger is breaking the build 🚨"
## The devDependency [sol-merger](https://github.com/RyuuGan/sol-merger) was updated from `1.2.0` to `1.2.1`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fsol-merger-1.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sol-merger is a devDepende

[2020-01-14 09:29] greenkeeper[bot] opened #877 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.7.7` to `7.8.0`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fmonorepo.babel7-20200114023844).

This version is **covered** by your **current version range** and after

[2020-01-16 14:21] greenkeeper[bot] opened #878 "An in-range update of mocha-junit-reporter is breaking the build 🚨"
## The devDependency [mocha-junit-reporter](https://github.com/michaelleeallen/mocha-junit-reporter) was updated from `1.23.2` to `1.23.3`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fmocha-junit-reporter-1.23.3).

This version is **covered** by your **current version range** and after updating it in your project **the bu

[2020-02-24 05:40] greenkeeper[bot] opened #883 "An in-range update of web3-provider-engine is breaking the build 🚨"
## The dependency [web3-provider-engine](https://github.com/MetaMask/web3-provider-engine) was updated from `15.0.4` to `15.0.5`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-core/compare/master...PolymathNetwork:greenkeeper%2Fweb3-provider-engine-15.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2020-02-27 13:32] aparcekarl opened #884 "Security Report: Subdomain Takeover of https://go.polymath.network Pointing to unbounce"
Hi Polymath Security Team,

I found that your website is suffering from subdomain takeover pointing to Unbounce pages but no such page is connected to the external server which is very dangerous.

https://go.polymath.network/

Steps to Takeover:
1. Log in to Unbounce.
2. Select the sub-account where you want to add your custom domain.
3. Open the Domains tab from the side navigation bar.
4. Click

[2020-02-27 14:07] maxsam4 commented on #884
Hey @aparcekarl , thanks for the report. I agree that there shouldn't be any dangling DNS records. I'll talk to the team to check if we are actively using Unbounce. If we are, then, it's not possible to claim the domain in some other account.

Looking a bit more into how Unbounce works, it seems like they require a unique id in the CNAME record to claim a domain. Assuming that we do not have an ac

[2020-02-27 14:25] aparcekarl commented on #884
Thanks for the great repsonse, In my past experience with this particular takeover, It works when the account using the subdomain has been deleted. In the mean time, takeover is highly possible since no more contents are hosted in the vulnerable subdomain

[2020-05-21 00:36] greenkeeper[bot] opened #891 "An in-range update of csv-parse is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [csv-parse](https://github.com/wdavidw/node-csv-parse) was updated from `4.9.1` to `4.10.0`.

🚨 [View failing branch](https://github.com/PolymathNetwork/polymath-

[2020-10-23 13:46] maxgrok opened #900 "README.md -- Link to the Polymath Architecture is broken"
The link to the Polymath Smart Contract Architecture is broken in the root directory.

[2022-05-04 16:00] mainaktrivedi opened #916 "Trying to run polymath core and getting error - Missing script: "test""
I installed polymath core on my local (mac ) and followed installation steps.

While running npm run test I get the error => Missing script: "test". Am I missing any step. Any help/pointer would be appreciated. Thank you.